.inr__bnr__cont{
	position:absolute;
	top: 0;
}
.inr__bnr__cont.valigner{
	min-height:386px;
}
.inr__bnr__cont .valign{
	text-align:left;
}
.inr__bnr__cont h2{
	font-size:50px;
	color:#fff;
	text-shadow: 1px 1px 1px #000;
	margin-bottom:10px;
	margin-top:0;
}
.inr__bnr__cont h4 {
    font-size: 18px;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin-top: 0;
    font-weight: 300;
}

.inr__bnr__img img{
	opacity:0.6;
}
.about-area{
	background-image:url('../images/about-area-bg.jpg');
	background-image:no-repeat;
	background-size:cover;
	opacity: .7;
}
.about__lft__cont h3{
	color: #1e90ff;
    font-size: 26px;
	margin-top:0;
}
.about__lft{
	padding:60px 15px;
}
.about__rgt{
	padding:60px 15px;
}
.about__map__inr{
	width:430px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
}
.about__map__inr iframe{
	height:100%;
	width:100%;
}
.about__rgt__cont p{
	font-style:italic;
	font-size: 18px;
	padding: 35px 45px;
}


.price__seg__list ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.price__seg__list ul li {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.price__seg__inr {
    padding-bottom: 0;
}