@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i');

.browse-area{
    background-color: #f1f1f6;
}
.brs-ctg ul li {
    margin-left: 5px;
    margin-right: 4px;
}
.brs-ctg ul li button{
    background: #3498db;
    background-image: -webkit-linear-gradient(top,#3498db,#2980b9);
    background-image: -moz-linear-gradient(top,#3498db,#2980b9);
    background-image: -ms-linear-gradient(top,#3498db,#2980b9);
    background-image: -o-linear-gradient(top,#3498db,#2980b9);
    background-image: linear-gradient(to bottom,#3498db,#2980b9);
    border: 1px solid #d3d3d3;
    text-shadow: 1px 1px 0 #474647;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    color:#fff;
    height: 34px;
    padding:0 21px;
    margin-right: -1px;
}
.brs-ctg ul li button:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top,#3cb0fd,#3498db);
    background-image: -moz-linear-gradient(top,#3cb0fd,#3498db);
    background-image: -ms-linear-gradient(top,#3cb0fd,#3498db);
    background-image: -o-linear-gradient(top,#3cb0fd,#3498db);
    background-image: linear-gradient(to bottom,#3cb0fd,#3498db);
    text-decoration: none;
}
.brs-ctg ul li button i{
    padding: 0 5px 0 0;
    text-align: center;
}
.brs__srch__box{
    background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 20px;
    margin: 0 10px 20px;
    height:112px;
}
.brs__filt__box{
    background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 20px 5px;
    margin: 0 10px 20px;
/*    height:248px;*/
}
.brs__task__sts button{
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    background-color:#fff;
    color:#696969;
    height:26px;
    line-height: 1;
    padding: 6px 5px;
    font-size: 12px;
}
.brs__task__sts select{
    height: 34px;
}
.brs__task__sts{
    margin-bottom:10px;
}
.brs__task__sts p{
    margin-bottom:5px;
}
.brs__task__sts label{
    font-weight:400;
}
.brs__usr__img{
    border-radius:50%;
    width:60px;
    height:60px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.brs__task__desc i{
    padding-right:5px;
}
.brs__task__price button{
    font-size:11px;
    text-shadow: 1px 1px 0 #474647;
    color:#fff;
    min-width:65px;
    margin-bottom:4px;
}
.brs__apply{
    border-radius: 4px;
    background: #1e91fe;
    border: 1px solid #d3d3d3;
}
.brs__task__price button.brs__assg{
    border-radius: 4px;
    background-color: #e0e0e0;
    border: 1px solid #d3d3d3;
    color:#696969;
    text-shadow: 0 1px 0 #fff;
}
.brs__compl{
    border-radius: 4px;
    background-color: #006dd3;
    border: 1px solid #d3d3d3;
}
.brs__task__desc  h4{
    font-size: 18px;
    color: #7f878a;
    font-weight: 700;
    line-height: 18px;
    white-space: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}
.brs__task__desc {
    padding-left: 5px;
    padding-right: 10px;
}
.brs__task__desc h6{
    color: #696969;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
}
.brs__task__desc small{
    font-size: 11px;
    color: #696969;
    font-family: 'Josefin Sans', sans-serif;
}
.brs__task__desc small span{
    font-family:'Roboto', sans-serif;
}
.brs__task__price h2{
    color: #696969;
    margin-top:0;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 1px;
    font-family: 'Josefin Sans', sans-serif;
}

.brs__tasks__box ul li a{
    background-color: #fff;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    margin-bottom: -1px;
    border-radius: 0;
}
.brs-left{
    background-color:#fff;
    padding:0px 0 0;
    border-right:1px solid #ccc;
}
.brs__tasks__box ul{
    min-height: 44em;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 1em;
}
.brs__tasks__box{
    border-top: 1px solid #ccc;
    padding-top:20px;
}
/*.brs-ctg ul{
        margin: 0 5px;
}*/
.brs-rgt{
    background-color:#fff;
    padding:15px;
}
.brs__rgt__close{
    position:relative;
    height:45px;
    border-bottom: 1px solid #eee;
}
.brs__rgt__close i{
    position:absolute;
    right:0;
    margin-right: 15px;
}
.brs__rgt__close i:hover{
    cursor:pointer;
}

.brs__rgt__taskTitle h2{
    color: #696969;
    margin:0;
    font-weight:600;
}


.rgt__desc__box .progress{
    margin-bottom:30px;
}

.rgt__task__abt p , .rgt__task__loc p{
    color:#696969;
}
.rgt__task__abt{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.rgt__task__loc{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.task__tobe__compl span{
    border: 0;
    border-radius: 23px;
    background: #dcf3ff;
    color: #696969;
    padding: 8px;
    text-align: left;
    margin: 2px;
    display: inline-block;
}
.rgt__price__hdr {
    background-color: #7f878a;
    padding:10px 0;
    text-align:center;
}
.rgt__price__hdr h5{
    font-size:14px;
    color:#fff;
    margin:0;
}
.rgt__price__hdr h5 i{
    color:#fff;
}
.rgt__price__hdr a i{
    color:#fff !important;
}
.rgt__price__box{
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border: 1px solid #ddd;
    border-radius:4px;
}
.rgt__price__cont{
    padding: 15px 0;
}
.rgt__price__cont h2{
    margin:0;
    text-align:center;
    font-size:30px;
    font-family: 'Josefin Sans', sans-serif;
}
.rgt__price__offerBtn button{
    width:100%;
    color:#fff;
    background: #a4be01;
    background: -webkit-linear-gradient(top,#a4be01 0,#82ac02 100%);
    background: linear-gradient(-180deg,#a4be01 0,#82ac02 100%);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.3), inset 0 1px 0 0 #9dd801;
    color: #fff;
    height:45px;
}
.rgt__price__moreOpt{
    margin-top:10px;
}
.rgt__price__moreOpt button{
    border-radius: 50px;
    background-color: #fff;
    color: #696969;
    height: 43px;
    padding: 6px 22px;
    border: 1px solid #d6d6d6;
}
.rgt__price__moreOpt button:hover , .rgt__price__moreOpt button:active , .rgt__price__moreOpt button:focus{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    outline:0;
    background-color: #fff;
    color: #696969;
    border: 1px solid #696969;
}
.rgt__price__moreOpt .open>.dropdown-toggle.btn-primary{
    background-color: #fff;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    outline:0;
    background-color: #fff;
    color: #696969;
}
.rgt__price__moreOpt ul a i{
    padding-right:5px;
}
.rgt__price__moreOpt .dropdown.open button{
    background-color: #fff;
    color: #696969;
}
.rgt__map__icon {
    clear: both;
}
.rgt__map__icon{
    padding:20px 0;
}
.rgt__price__hdr.hover-anchor a[title]:hover:after {
    content: attr(title);
    padding: 4px 20px;
    line-height:1.5;
    color: #333;
    position: absolute;
    left: -250px;
    right:0;
    top:-10px;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#75baff;
    border:none;
    display:inline-block;
    color:#fff;
    font-weight:400;
    font-size:12px;
    width:200px;
    height:100px;
    text-align:center;
}
.rgt__map__icon.hover-anchor a[title]:hover:after {
    content: attr(title);
    padding: 4px 20px;
    line-height:1.5;
    color: #333;
    position: absolute;
    left: -200px;
    right:0;
    top:0px;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#75baff;
    border:none;
    display:inline-block;
    color:#fff;
    font-weight:400;
    font-size:12px;
    width:200px;
    height:50px;
    text-align:center;
}
.rgt__map__box {
    margin:20px 0;
}
.rgt__task__offers p{
    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
    background-repeat: repeat-x;
    border: 1px solid #f5e79e;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 15px 10px;
    height: 50px;
}
.rgt__task__offers p a{
    font-weight:600;
    text-decoration:none;
    color: #8a6d3b;
}
.brs__rgt__commt label{
    font-size:16px;
    color:#696969;
    font-weight: 600;
}
.brs__rgt__commt label span{
    margin-right: 5px;
}
.brs__rgt__commt input{
    height:34px;
    border-radius:4px;
}
.brs__rgt__commt .button-btn input{
    background: #a4be01;
    background: -webkit-linear-gradient(top,#a4be01 0,#82ac02 100%);
    background: linear-gradient(-180deg,#a4be01 0,#82ac02 100%);
    padding: 11px 22px;
    color: #fff;
    line-height: 1.4;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.3), inset 0 1px 0 0 #9dd801;
    display: block;
    width: 100%;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    border-radius: 50px;
    height:45px;
    font-size: 16px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
.brs-rgt {
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 40px;
    height: 94vh;
    overflow-y: auto;
}
.brs__tasks__box ul li a:hover , .brs__tasks__box ul li.active a{
    background-color: #dcf3ff !important;
}
body .brs-rgt .tab-content {
    border: none;
    border-top: 0;
    min-height: auto;
}
.rgt__map__icon a i{
    line-height:38px;
}
.makeOfferModal h4{
    text-align:center;
    color: #0085FE;
    font-size: 24px;
}
.make-offer-tip p{
    background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
    background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
    background-repeat: repeat-x;
    border: 1px solid #b2dba1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    color: #3c763d;
    background-color: #dff0d8;
    padding: 15px 10px;
    height: 75px;
}
.make__offer__inputs.hover-anchor a i{
    color:#696969;
}
.make__offer__inputs label{
    color:#696969;
}
.make__offer__inputs a i{
    padding-right:4px;
}
.make__offer__inputs .button-btn input{
    background: #a4be01;
    background: -webkit-linear-gradient(top,#a4be01 0,#82ac02 100%);
    background: linear-gradient(-180deg,#a4be01 0,#82ac02 100%);
    padding: 11px 22px;
    color: #fff;
    line-height: 1.4;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.3), inset 0 1px 0 0 #9dd801;
    display: block;
    width: 100%;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    border-radius: 50px;
    height:45px;
    font-size: 14px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
.rgt__price__offerBtn button.wdOfferBtn{
    background: #d9534f;
    border-color: #d43f3a;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.3), inset 0 1px 0 0 #d43f3a;
}
.brs__task__sts .btn>input[type=radio], .brs__task__sts .btn>input[type=checkbox] {
    position: absolute;
    z-index: -1;
    filter: alpha(opacity=0);
    opacity: 0;
}
.brs__task__sts button.btn.active{
    background-color: #dcf3ff;
    border: 1px solid #0085fe;
    color:#696969;
}
.brs__task__sts button.btn:hover{
    background-color:#FFF;
    color:#696969;
}
.brs__task__type button:hover{
    background-color:#FFF;
    color:#696969;
}
.brs__postBy__img img, .brs__usr__img img{
    height: 100%;
}

/*
.form-group.addCommentText input:first-child {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
*/
.form-group.addCommentText input{
    border: 1px solid #ddd;
    padding:4px;
    background-color: transparent;
}
.addCommentText small{
    padding-left:5px;
}


.task__tobe__compl small {
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}