/**colorized.css**/

.colors-area ul li {
  height: 80px;
  padding: 15px;
  margin: 0 1.6% 20px;
  text-align: center;
  ;
}

.bg-aqua {background-color: #7FDBFF;}
.aqua {color: #7FDBFF;}

.bg-black {background-color: #111;}
.black {color: #111;}

.bg-blue {background-color: #0084ff;}
.blue {color: #0084ff;}

.bg-fuchsia {background-color: #F012BE;}
.fuchsia {color: #F012BE;}

.bg-green {background-color: #5cb85c;}
.green {color: #5cb85c;}

.bg-lime {background-color: #01FF70;}
.lime {color: #01FF70;}

.bg-maroon {background-color: #85144B;}
.maroon {color: #85144B;}

.bg-navy {background-color: #dd00;}
.navy {color: #001F3F;}

.bg-olive {background-color: #3D9970;}
.olive {color: #3D9970;}

.bg-orange {background-color: #FF851B;}
.orange {color: #FF851B;}

.bg-purple {background-color: #B10DC9;}
.purple {color: #B10DC9;}

.bg-red {background-color: #FF4136;}
.red {color: #FF4136;}

.bg-silver {background-color: #ddd;}
.silver {color: #ddd;}

.bg-gray {background-color: #aaa;}
.gray {color: #aaa;}

.bg-smoke {background-color: #ccc;}
.smoke {color: #ccc;}

.bg-snow {background-color: #f6f6f6;}
.snow {color: #f6f6f6;}

.bg-teal {background-color: #39CCCC;}
.teal {color: #39CCCC;}

.bg-white {background-color: #fff;}
.white, .white a {color: #fff;}


.bg-yellow {background-color: #FFDC00;}
.yellow {color: #FFDC00;}


.bg-linkedin{ background-color: #0077B5; }
.linkedin{ color: #0077B5; }


.bg-facebook{ background-color: #3B5998; }
.facebook{ color: #3B5998; }