.dboard__lft {
	padding-right:10px;
	margin-bottom: 50px;
}
.dboard__rgt {
	padding-left:10px;
}
.dboard__img{
	border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.dboard__photo{
	text-align:center;
	width:100%;
}
.dboard__lft .nav-pills>li.active>a, .dboard__lft .nav-pills>li.active>a:hover, .dboard__lft .nav-pills>li.active>a:focus{
	text-decoration: none;
    background-color: #fff;
    color: #1e90ff;
	border-radius: 0;
    border-left: 5px solid #1e90ff;
}
.dboard__lft .nav-pills>li>a{
	color: #b2bfc3;
}
.dboard__lft .nav-pills>li>a:hover{
	background-color: #fff;
}
body .tab-content.dboard-tab-height{
	border: 1px solid #696969;
	border-top:1px solid #696969;
	background-color:#fff;
}
.tab-cont-title h3{
	margin:0;
	line-height: 65px;
	font-weight: 500;
	color:#696969;
}
.tab-cont-title{
	border-bottom: 1px solid #696969;
	height:65px;
}
.links__images {
    overflow: hidden;
    height: 150px;
    margin: 0 auto;
	text-align:center;
	padding:0 15px;
}
.dboard__links .swiper-container{
	height: 160px;
}
.dboard__links__title h3{
	margin-bottom:20px;
	font-weight: 500;
	color:#696969;
}
.dboard__username h4{
	color:#696969;
}
body .dboard__links .dontfly.swiper-container .swiper-slide img{
	max-height:150px;
}
body .dboard__links .dontfly.swiper-container .swiper-slide{
	margin-right:0;
}
.dashboard-area{
	background-color: #f1f1f6;
}
.dboard__links {
    margin-bottom: 10px;
}
.tab-cont-title--2{
	border-top: 1px solid #696969;
	margin-bottom:20px;
}
.dboard__links__name.valigner {
    min-height: 150px;
    width: 100%;
}
.dboard__links__name h4 {
    font-size: 20px;
    color: #fff;
    text-shadow: 4px 4px 6px #000;
    text-align: center;
}
.dboard__links__name {
    position: absolute;
    top: 0;
}
body .tab-content.task-tab-content{
	border:none;
	min-height: 220px;
}
.task__tab__inr{
	height:120px;
	background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
	background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
	color: #696969;
}
.task__tab__main{
	padding:50px 0;
}
.task-summ-area .nav-tabs>li>a{
	color:#1e90ff;
}
.task-summ-area .nav-tabs>li.active>a, .task-summ-area .nav-tabs>li.active>a:hover, .task-summ-area .nav-tabs>li.active>a:focus{
	border-bottom-color:#ddd;
	color:#696969;
}
/*.c100{
	background-color:#696969;
	border-radius: 50%;
	font-size: 100px;
	width:100px;
	height:100px;
	float: none;
    margin: 0 auto;
	position: relative;
}
.complete__cir__inr{
	position:absolute;
	left:0;
	top:0;
	display:block;
	line-height:100px;
	text-align:center;
	-webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.c100 .slice {
    position: absolute;
    width: 100px;
    height: 100px;
    clip: rect(0px, 100px, 100px, 50px);
}
.c100.comp-orange.comp-dark .bar, .c100.comp-orange.comp-dark .fill {
    border-color: #e08833 !important;
}
.c100.comp-orange .bar, .c100.comp-orange .fill {
    border-color: #dd9d22 !important;
}
.c100.comp-dark .bar, .c100.comp-dark .fill {
    border-color: #c6ff00 !important;
}
.c100.pd50 .bar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.c100 .bar{
    position: absolute;
    border: 5px solid #307bbb;
    width: 5px;
    height: 5px;
    clip: rect(0px, 50px, 100px, 0px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.c100 *, .c100 *:before, .c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.c100.comp-dark:after {
    background-color: #666666;
}
.c100:after {
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
    content: " ";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 80px;
    height: 80px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}*/

.prec {
    top: 0;
    position: absolute;
    font-size: 24px;
    text-align: center;
    width: 100%;
    left: auto;
    right: 0;
    display: table-cell;
    vertical-align: middle;
    line-height: 125px;
    margin-top: 5px;
}

.circle{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #E6F4F7;
}
.active-border{
    position: relative;
	margin-left:auto;
	margin-right:auto;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color:#1e90ff;
    background-image: linear-gradient(162deg, transparent 50%, #b3d4f4 50%), linear-gradient(90deg, #b3d4f4 50%, transparent 50%); 
}
.comp-prof-area ul li{
	width:33%;
	text-align:center;
}
.comp-prof-area ul li i{
	top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    line-height: 2;
	font-size:30px;
}
.comp-prof-area ul li a{
	color:#1e90ff;
}
.recent__usr__img{
	border-radius: 5px;
    border: 1px solid #d6d6d6;
	width:35px;
	float:left;
}
.recent__act__cont p{
	float:left;
}
.recent__cont{
	height:330px;
	overflow-y:auto;
}
.recent__list ul li{
	width:100%;
	background-color: #f1f1f6;
    color: #7f878a;
	padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}
.recent__act__cont p{
	padding-left:10px;
}
.recent__act__cont p a{
	color:#1e90ff;
}
.recent__act__cont p a:hover{
	text-decoration:underline;
}
.recent__hdr__dboard{
	border: 1px solid #ccc;
    margin-bottom: -1px;
    text-align: center;
}
.recent__hdr__dboard h4{
	color: #696969;
}
.noti-recent-area.clrlist {
    padding: 30px 15px;
}
.recent__list ul li:hover{
	background: #dcf3ff;
}
.upload__pic__btn{
	position:relative;
}
.upload__pic__btn input {
    opacity: 0;
    position: absolute;
    height: 34px;
    width: 133px;
}
.upload__pic__btn button {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	color:#333;
	padding: 6px;
	font-size:14px;
	line-height: 1.42857143;
    text-align: center;
	border: 1px solid #dbdbdb;
    border-radius: 4px;
	font-weight: normal;
    line-height: 1.42857143;
}
.upload__pic__box{
	width:50px;
	height:50px;
}
.upload__pic__box img{
	border-radius:5px;
	object-fit:cover;
}
.upload__title h4{
	font-weight:500;
	font-size:16px;
	margin-top: 0;
}
.upload__pic__btn{
	padding-left:10px;
}
.view-profile-btn a{
	background: #7a9b17;
    background-image: -webkit-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -moz-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -ms-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -o-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: linear-gradient(to bottom,#9dc81e,#7a9b17);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #fff;
    font-size: 12px;
    padding: 6px 12px;
    text-decoration: none;
    width: auto;
}
.view-profile-btn a:hover, .view-profile-btn a:focus{
	background: #8fb41b;
    background-image: -webkit-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -moz-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -ms-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -o-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    text-decoration: none;
	color: #fff;
}
.view-profile-btn {
    margin-top: 30px;
}
.upload__view{
	text-align:right;
	padding: 20px 15px;
}
.upload__pic {
	padding: 20px 15px;
}
.upload__cvr__img{
	height:120px;
}
.upload__cvr__img img{
	object-fit:cover;
}
.edit__inputs label{
	color:#1e90ff;
}
.blue-icon{
	color:#1e90ff;
}
.edit__inputs  input.form-control{
	height:35px;
	border-radius:5px;
}
.edit__inputs  textarea.form-control{
	border-radius:5px;
}
.edit__inputs .form-group{
	margin-bottom:20px;
}
.edit__inputs .form-control::placeholder { color:#696969; -webkit-transition: padding 0.5s; transition: 1s;}
.edit__inputs .form-control::-moz-placeholder { color:#696969; -webkit-transition: padding 0.5s; transition: all 1s;}
.edit__inputs .form-control:-ms-input-placeholder { color:#696969; -webkit-transition: padding 0.5s; transition: all 1s;}
.edit__inputs .form-control::-webkit-input-placeholder { color:#696969; -webkit-transition: padding 0.5s; transition: 1s;}

.save-view-btn a{
	background-color:transparent;
	font-size:14px;
	padding: 6px 15px;
    height: 34px;
    line-height: 23px;
    text-decoration: none;
	color:#696969;
	-webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
	border:1px solid #696969;
}
.save-view-btn a:hover{
	border: #7a9b17;
	border:1px solid #7a9b17;
	color:#7a9b17;
}
.save-view-btn{
	margin-right: 30px;
	margin-bottom:30px;
}
.save-prof-btn{
	margin-top:0;
	margin-left: 50px;
	margin-bottom:30px;
}
.save-prof-btn input[type="submit"]{
	background: #7a9b17;
    background-image: -webkit-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -moz-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -ms-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -o-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: linear-gradient(to bottom,#9dc81e,#7a9b17);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #fff;
    font-size: 14px;
    padding: 7px 12px;
    text-decoration: none;
    width: auto;
	border:none;
}
.save-prof-btn input[type="submit"]:hover{
	background: #8fb41b;
    background-image: -webkit-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -moz-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -ms-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -o-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    text-decoration: none;
	color: #fff;
}
.transport-labels .btn{
	text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
	padding: 1px 5px;
    font-size: 14px;
    line-height: 2.4;
    border-radius: 3px;
	color:#696969;
	height:35px;
	margin-right: -5px;
}
.transport-labels .btn:last-child{
	margin-right:0;
}
.transport-labels .btn:hover{
	color:#696969;
}
.transport-labels .btn.active{
	background-color: #1e90ff;
    color: #fff;
    border-color: #1e90ff;
    font-weight: 300;
    background-image: none;
}
.edit__inputs .bootstrap-tagsinput{
	line-height: 25px;
	width:100%;
}
.edit__inputs .label-info {
    background-color: #1e90ff;
}
.edit__inputs .label{
	font-size:12px;
	font-weight:500;
}
.edit__inputs {
	padding:0 30px;
}

/*Public Profile Photo */

.cvr__upload__btn{
	position:relative;
}
.cvr__upload__btn input{
	opacity: 0;
    position: absolute;
    height: 34px;
    width: 168px;
	cursor:pointer;
}
.cvr__upload__btn button{
	background: #7a9b17;
    background-image: -webkit-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -moz-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -ms-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -o-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: linear-gradient(to bottom,#9dc81e,#7a9b17);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #fff;
    font-size: 14px;
    padding: 7px 12px;
    text-decoration: none;
    width: auto;
	border:none;
	cursor:pointer;
}
.cvr__upload__btn button:hover{
	background: #8fb41b;
    background-image: -webkit-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -moz-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -ms-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -o-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    text-decoration: none;
	color: #fff;
	cursor:pointer;
}
.pub__cvr{
	position:relative;
}
.cvr__upload{
	position:absolute;
	top: 0;
    left: 0;
    margin: 20px 15px;
}
.pub__cvr__pic{
    height: 206px;
    overflow: hidden;
}
.pub__cvr__pic img{
	max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
.cvr__upload__btn button i{
	padding-right:5px;
}
.cvr__upload__btn{
	visibility:hidden;
}
.cvr__upload__btn i{
	visibility:visible;
}
.pub__cvr:hover .cvr__upload__btn{
	visibility:visible;
}
.prof__pic__box{
	height: 145px;
    width: 145px;
    overflow: hidden;
    border: 10px solid #1e90ff;
	float: left;
}
.pub__prof{
	bottom:0;
	margin-top: -100px;
	margin-left:20px;
	position: relative;
}
.prof__pic__upload{
	width:125px;
	margin-left:10px;
}
.prof__pic__upload input {
    opacity: 0;
    position: absolute;
    height: 46px;
    width: 100%;
    cursor: pointer;
	z-index: 20;
}
.prof__pic__upload button{
	position: relative;
    opacity: 0.8;
    background: #000;
    border: none;
}
.prof__pic__upload button i {
    float: left;
    top: 9px;
    position: absolute;
    left: 0;
    padding-left: 8px;
    color: #fff;
}
.prof__pic__upload button span {
    text-align: left;
    display: block;
    position: static;
    padding-left: 24px;
    color: #fff;
}
.prof__pic__upload{
	display:none;
	position:absolute;
}
.pub__prof:hover .prof__pic__upload{
	display: block;
    top: 0;
    margin-top: 93px;
}
.prof__mutual i{
	display: inline-block;
    width: 20px;
}
.prof__usr__title h3{
	color: #696969;
}
.prof__usr__noti i{
	color:#696969;
}
.prof__join p{
	color: #696969;
}
.prof__rate ul li a i.fa-star{
	color: gold;
}
.prof__rate ul li a i.fa-star-o{
	color: #696969;
}
.prof__usr__noti{
	margin-bottom:10px;
}
.prof__tasks__inr h3, .prof__tasks__inr p{
	color: #696969;
}
.prof__frnd__rate {
	text-align:right;
}
.prof__pos__rating h4{
	color:#696969;
}
.prof__mutual h5{
	color:#696969;
	margin-top:20px;
}
.prof__text{
	padding: 20px 0px;
	border-bottom:1px solid #f1f1f6;
}
.prof__sect__title h4{
	font-family: 'Roboto',sans-serif;
	color:#696969;
	font-weight:700;
}
.prof__sect__edit a{
	display:table-cell;
	background-color:#696969;
	height:40px;
	width:40px;
	border-radius:50%;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
	border:2px solid #696969;
	line-height: 38px;
	float: right;
}
.prof__sect__edit a i{
	color:#fff;
	font-size:16px;
}
.prof__sect__edit a:hover{
	background-color:transparent;
	border:2px solid #696969;
}
.prof__sect__edit a:hover i{
	color:#696969;
}
.prof__abt, .prof__skills, .prof__review{
	padding:10px 0 20px;
	border-bottom:1px solid #f1f1f6;
}
.prof__sect__title__inr h5 {
	font-weight:600;
	color:#696969;
}
.prof__verf__sm{
	margin-bottom:10px;
}
.prof__verf__sm ul li{
	margin-right:5px;
}
.prof__verf__sm ul li a {
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: #d8d9d8;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
	border:2px solid #d8d9d8;
}
.prof__verf__acct ul li a{
	background-color: transparent;
	color: #696969;
	border:2px solid #696969;
}
.prof__skl__inr ul li a{
	border: 1px solid #9c9c9c;
    border-radius: 23px;
    background: #f1f1f6;
	color:#696969;
	padding: 8px;
	display:block;
}
.prof__skl__inr ul li{
	margin-right:5px;
	margin-bottom:5px;
}
.prof__skl__inr ul{
	padding-top:5px;
}
.prof__rate__graph{
	width: 100px;
    height: 10px;
    background-color: #a9a9a9;
    border-radius: 10px;
    display: block;
    display: inline-block;
}
.prof__rate li ul li{
	display:inline-block;
}
.prof__review__fm{
	margin-top:5px;
}
.prof__review__fm p{
	font-weight: 500;
}
.public__inr {
    margin-bottom: 50px;
    background-color: #fff;
}
.public-area{
	background-color:#f1f1f6;
}
.prof__pic__box img{
	object-fit: cover;
}

/*End*/

/*Reviews tab*/

.reviews-area .reviews__box{
	padding-bottom:30px;
}
.review__box__desc{
	margin: 20px 15px;
    text-align: center;
	padding: 10px 15px;
    background-color: #f1f1f6;
    border: 1px solid #ddd;
	border-radius:4px;
}
.review__box__desc:hover{
	background-color: #dcf3ff;
}
.review__box__desc p{
	color:#696969;
	margin:0;
}

/*End*/ 


/*Edit Payment Methods*/

.add-payment .fnc-fom form {
    background-color: #fff;
    margin: 40px 0 0;
    padding: 15px;
}
.add__pay__title {
	padding:15px 15px 30px;
}
.add__pay__title h3{
	color: #696969;
}
.add-payment .fnc-fom .form-group{
	margin:20px 0 45px;
}
.add-payment .fnc-fom .form-group input{
	border: none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
	font-weight:500;
}
.add-payment .placelabeler .form-group .form-control~label {
    color: #696969 !important;
    position: absolute;
    text-transform: none;
    top: 10px;
    left: 18px;
	font-weight:500;
	font-family: 'Roboto',sans-serif;
}
.add-payment .fnc-fom .form-control.has-value + label, .fnc-fom .form-group .form-control + label:hover, .fnc-fom .form-group .form-control:hover + label, .fnc-fom .form-group .form-control:focus + label {
    top: -20px;
    font-size: 12px;
    left: 18px;
	color: #607d8b !important;
	font-weight:500 !important;
	font-family: 'Roboto',sans-serif;
}
.add-payment .fnc-fom label i{
	width:22px;
}
.add-payment .fnc-fom .form-group.button-btn input{
	background-color: rgb(96,125,139);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	color:#fff;
    display: inline-block;
    cursor: pointer;
	min-height: 36px;
    min-width: 88px;
    line-height: 30px;
	border-radius:3px;
	white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.add-payment .fnc-fom .form-group.button-btn input:hover{
	background-color: rgb(84,110,122);
}
.paypal-dtl-box label{
	font-family: 'Roboto',sans-serif;
	color:#696969;
}
.paypal-dtl-box input.form-control{
	height: 35px;
    border-radius: 5px;
}
.paypal-dtl-box .button-btn input{
	background: #a4be01;
    background: -webkit-linear-gradient(top,#a4be01 0,#82ac02 100%);
    background: linear-gradient(-180deg,#a4be01 0,#82ac02 100%);
    padding: 11px 22px;
    color: #fff;
	line-height: 1.4;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.3), inset 0 1px 0 0 #9dd801;
	display: block;
    width: 100%;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
    border-radius: 50px;
	height:45px;
	font-size: 14px;
	border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
.paypal-dtl-title {
    padding: 15px 15px 30px;
}
.paypal-dtl-box .button-btn small{
	line-height: 2.5;
}
.paypal-dtl-box .button-btn{
	margin-bottom:30px;
}

/*End*/ 

/*Change Password*/ 

.save-pwd-btn input[type="submit"]{
	border-radius: 50px;
    border: 1px solid #d6d6d6;
    box-shadow: none;
    min-width: 135px;
    display: inline-block;
    width: 135px;
    height: 40px;
}
.save-pwd-btn input[type="submit"]:hover{
	color:#a4be01;
	border: 1px solid #a4be01;
}
.pwd__box{
	padding:40px 0;
}
.pwd__inputs label{
	font-family: 'Roboto',sans-serif;
	font-weight:500;
}

/*End*/ 

/*Verify Social Accounts*/ 

.verf__inr ul li{
	position:relative;
}
.verf__inr ul li a{
	padding:5px;
}
.verf__inr ul li a.verf__plus__icon{
	position: absolute;
    right: 10px;
    color: #fff;
    background-color: green;
    line-height: 1;
    margin-top: 5px;
    text-align: center;
    border-radius: 4px;
    padding: 6px 12px;
}
.verf__inr ul li a i{
	width:100px;
	height:100px;
	color:#fff;
	font-size: 48px;
    line-height: 100px;
}
.verf__inr ul li a i.fa-facebook{
	background-color: #2b4687;
}
.verf__inr ul li a i.fa-twitter{
	background-color: #118ed3;
}
.verf__inr ul li a i.fa-google-plus{
	background-color: #cf4320;
}
.verf__inr ul li a i.fa-linkedin{
	background-color: #0084bf;
}
.verf__inr ul li a i.fa-instagram{
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

/*End*/ 



