.earn-bnr-area{
	background-image:url('../images/earn-bnr.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}
.earn-bnr-area .signup__form__title h3{
	margin-top:0;
	padding-top: 20px;
}
.earn__bnr__lft.valigner{
	min-height:475px;
}
.earn-bnr-area .signup__form {
	margin-top:0;
}
.earn-bnr-area .signup__hed h2{
	text-align: center;
    font-size: 40px;
	font-weight:400;
    color: #fff;
	text-shadow: 3px 3px 3px #000, 0 0 5px #696969;
	padding: 0 20px;
}
.earn-bnr-area a.signup__fb{
	margin-right:0;
	margin-bottom:10px;
}


.earn-bnr-area .signup__hed{
	margin-bottom:35px;
}
.avb__task__img{
	width:170px;
	margin-left:auto;
	margin-right:auto;
}
.avb__task__cont{
	padding:30px 0;
}
.avb__task__cont p{
	color: #696969;
}
.brw-task-area{
	padding:65px 0;
	background: linear-gradient(whitesmoke,#d3d3d3);
}
.brw-task-area .sect__title h3, .sel-task-area .sect__title h3{
	margin:0;
	color: #696969;
    text-shadow: 3px 3px 3px #fff;
}
.sel-task-area .sect__title h3{
	text-shadow: 3px 3px 3px #d3d3d3;
}
.avb__task__box {
	margin-top:30px;
}
.sel__task__img{
	width:115px;
	margin-left:auto;
	margin-right:auto;
}
.sel__task__cont {
    margin-top: 15px;
}
.sel-task-area{
	padding:65px 0 60px;
}
.sel__task__box {
	margin-top:30px;
}
.build-prof-area{
	background-image:url('../images/build-prof-bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	padding:60px 0;
}
.build-prof-area .sect__title h3{
	margin:0;
	color: #fff;
    text-shadow: 3px 3px 3px #000;
}
.build-prof-area .sect__title{
	margin-bottom:30px;
}
.build__prof__img{
	width:250px;
	margin-left:auto;
	margin-right:auto;
}
.build__prof__cont{
	padding:50px;
}
.build__prof__cont p{
	text-align:center;
}
.join__btn{
	text-align:center;
}
.join__btn a{
	color:#fff;
	padding: 0 12px;
	display:inline-block;
	min-width:164px;
	height:35px;
	line-height:35px;
	border-radius:25px;
	background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
}
.join__btn a:hover{
    background-color: #265a88;
	border-color: #204d74;
	background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
}
.join-area .sect__title h3{
	margin-bottom:30px;
}
.join-area {
	padding-bottom:30px;
}
