.find-area .valigner > *, .find-area .valigner .valign{
	vertical-align:top;
}
.find-area .task__cont h4{
	font-size:30px;
}
.find-area .task__inr:hover .task__cont h4 {
    font-size: 34px;
}
.find-area .task__cont{
	padding:0 50px;
}
.find-area .task__cont__btm{
	bottom:0;
	position: absolute;
	width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	text-align:center;
	background-color: #1e90ff;
	opacity:0.8;
}
.find-area .task__cont__btm p{
	color:#fff;
	margin:5px 0;
}
.find-area .task__inr:hover .task__cont__btm{
	padding-bottom:20px;
}
.find-area {
	padding:50px 0;
}
