/**********./STYLIZED CLASSES***********/


.carousel-inner>.item {
    width: 100%;
}
.slider-area .item > img, .slider .item > img {
    margin: 0 auto;
	width:100%;
}
.slide__cont  h1{
	font-family: 'Ubuntu', sans-serif;
	font-size:75px;
	color:#fff;
    text-shadow: 2px 3px 3px grey;   
	display: inline;
}
.slide__cont  h1:hover{
	text-shadow: 6px 7px 7px #696969;
}
.slide__cont  h4{
	font-size: 25px;
    color: #fff;
    text-shadow: 2px 3px 3px grey;
	font-family: 'Arial', sans-serif;
	width: 50%;
    margin-left: 4px;
	margin-top: 22px;
}
.start-btn a{
	background: #7a9b17;
    background-image: -webkit-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -moz-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -ms-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -o-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: linear-gradient(to bottom,#9dc81e,#7a9b17);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none;
	border: 2px solid #fff;
	width:auto;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.start-btn a:hover{
	border: 2px solid #fff;
	background: #8fb41b;
	background-image: -webkit-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -moz-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -ms-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -o-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    text-decoration: none;
    color: #f5f5f5;
}
.start-btn{
	margin-top:26px;
	margin-left: 4px;
}
.caro-caps {
    bottom: 12em;
    position: absolute;
    z-index: 0;
    left: 0;
}
.dwn-scroll i{
    color: #1e90ff;
    font-size: 17px;
	border:none;
	border-radius:0;
	background-color:transparent;
}
.dwn-scroll i.glyphicon-menu-down:before{
	content: "\e259";
}
.task__img{
	height:165px;
	overflow:hidden;
}
.task__img img{
	width: 100%;
}
.task__inr{
	position:relative;
	margin: 20px 0;
}
.task__cont{
	position:absolute;
	top:0;
}
.task__cont.valigner{
	/* min-height:165px; */
	width: 100%;
}
.task__cont h4{
	font-size: 20px;
    color: #fff;
    text-shadow: 4px 4px 6px #000;
	text-align: center;
}
.task__inr:hover .task__cont h4{
	font-size: 23px;
}
.sect__title h3{
	color: #1e90ff;
    font-size: 24px;
    text-align: center;
	font-family: 'Arial', sans-serif;
	font-weight: 500;
	margin: 25px 0 55px;
}
.more-btn a, .find-btn a{
	border: 1px solid #1e90ff;
    border-radius: 15px;
	text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
	padding: 6px 12px;
	white-space: nowrap;
    vertical-align: middle;
	line-height: 1.42857143;
	font-family: 'Roboto',Helvetica Neue,sans-serif;
	color: #1e90ff;
	font-weight:200;
	min-width:150px;
}
.more-btn a:hover , .find-btn a:hover{
	border: 1px solid #1e90ff;
    font-weight: 400;
    text-align: center;
    background-color: #f0f0f5;
	background-image: none;
}
.more-btn, .find-btn{
	margin: 25px 0 55px;
}
.info-area{
	background: #1e90ff;
    background: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
	padding: 60px 0 30px;
}
.info__box i{
	float:left;
	text-align:left;
	font-size: 27px;
	color:#fff;
	padding: 2px 15px 0 0px;
}
.info__cont{
	padding: 0 12px;
	overflow:hidden;
}
.info__cont h3{
	font-family: 'Roboto Condensed',sans-serif;
	color:#fff;
	font-weight:400;
	font-size:27px;
	margin-top:0;
	margin-bottom:25px;
}
.info__cont p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
	font-family: 'Roboto Condensed',sans-serif;
}
.info__inr{
	margin-bottom:30px;
}
.info__rgt {
	position:relative;
	padding-left: 50px;
}
.info__img{
	position: absolute;
    height: 385px;
    overflow: hidden;
    margin-top: -27px;
}
.work__inr{
	text-align:center;
}
.work__img {
    padding: 0 85px;
}
.work__inr p{
	font-family: 'Roboto Condensed',sans-serif;
	font-weight:400;
	font-size:14px;
}
.work__cont {
    margin-top: 10px;
}
.work__desc p{
	font-family: 'Roboto Condensed',sans-serif;
	font-weight:400;
	font-size:14px;
	padding: 0 225px;
	margin-bottom:0;
}
.work__desc{
	padding-top: 30px;
}
.work-area{
	padding:10px 0 40px;
}
.recent-tasks-area{
	background: #1e90ff;
    background: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
	padding: 35px 0 60px;
}
.recent-title h3{
	color:#fff;
}
.recent__hdr{
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
	color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
	padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.recent__hdr h5{
	margin:0;
	font-family: 'Roboto Condensed',sans-serif;
	font-weight:400;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recent__cust__img{
	float: left;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
	margin-right: 5px;
}
.recent__cust__img img{
	min-height: 50px;
    width: auto;
    max-width: 50px;
    margin-top: -4px;
}
.recent__inr__box{
	padding: 15px;
	background-color:#fff;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.recent__cust__name p{
	font-size:14px;
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 400;
    line-height: 4;
    margin-bottom: -5px;
}
.recent__need p{
	font-size:14px;
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 400;
	margin-bottom:0;
}
.recent__cust__review__name p{
	line-height: 2;
	color:#fff;
	font-size:14px;
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 400;
}
.recent__cust__review p{
	color:#fff;
	font-size:14px;
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 400;
}
.recent__cust__rating ul li i{
	color:gold;
}
.signup__img ul li a{
	font-family: 'Roboto Condensed',sans-serif;
	font-size:14px;
	color:#fff;
	display: inline-block;
	min-width:175px;
	line-height: 1.42857143;
    text-align: center;
	padding: 6px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
a.signup__fb{
	background-color:#3c66c4;
	margin-right:20px;
}
a.signup__in{
	background-color:#0084bf;
}
.signup-slider .item {
    height: 475px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}
.signup-slider a.carousel-control{
	display:none;
}
.signup-main{
	position:absolute;
	top:0;
}
.signup__form {
	opacity: 0.9;
    background: #fff;
	border-radius: 50px;
	text-align: center;
	margin-top: 7px;
}
.signup__form__title h3{
	margin-top: 25px;
    margin-bottom: 5px;
    font-family: 'Roboto Condensed',sans-serif;
}
.signup__form form {
    padding: 10px 40px 20px;
	margin-bottom:0;
}
.signup__form form label{
	font-weight:700;
	font-family: 'Roboto Condensed',sans-serif;
}
.signup__form form input{
	height:35px;
	border-radius: 4px;
}
.signup__form button{
	background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);	
	padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
	border: 1px solid transparent;
    border-radius: 4px;
	font-family: 'Roboto Condensed',sans-serif;
	background-repeat: repeat-x;
    border-color: #245580;
}
.signup__form button:hover{
	background-color: #265a88;
	color:#fff;
	border-color: #204d74;
}
.signup__form p{
	margin-bottom:0;
	font-family: 'Roboto Condensed',sans-serif;
}
.signup__form a{
	font-family: 'Roboto Condensed',sans-serif;
}
.signup__hed h2{
	font-size: 71px;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 3px 3px grey;
    text-align: left;
	font-family: 'Roboto Condensed',sans-serif;
	margin-top: 0;
}
.signup__rgt {
	width: 34%;
}
.signup__rgt.valigner{
	min-height: 475px;
    display: table;
    text-align: center;
}


/*==============Media Queries==============*/
/* 24" large Screens */
@media only screen and (max-width : 1920px) {

.signup__form{
	margin-top:8px;
	margin-left:0;
}
.signup-main {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
}
.signup__rgt {
    width: 22%;
}
	}


/* 22" large Screens */
@media only screen and (max-width : 1680px) {

.signup__form {
    margin-top: 20px;
    margin-left: 0;
}
.signup__rgt {
    width: 26%;
}
	}


/* 20" large Screens */
@media only screen and (max-width : 1600px) {

.signup__rgt {
    width: 27%;
}

	}


/* 19" large Screens */
@media only screen and (max-width : 1440px) {

.signup__rgt {
    width: 30%;
}

	}

@media only screen and (max-width : 1368px) {

.signup__rgt {
    width: 32%;
}

	}

/* 13" Notebook Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {

.signup__rgt {
	width: 34%;
}
.signup__form{
	margin-left: 8.33333333%;
}
	}
