.posting-bnr-area{
	background-image:url('../images/post-task-bnr.jpg');
	background-repeat:no-repeat;
	height: 500px;
    background-size: 100%;
}
.posting-bnr-cont.valigner{
	min-height:500px;
}
.posting-bnr-title h1{
	font-size: 5.5em;
    font-family: Ubuntu;
    font-weight: 500;
	color:#fff;
	text-shadow: 2px 2px #696969;
	background-color:rgba(0,0,0,0.15);
}
.posting-bnr-title h5{
	font-size: 1.5em;
	text-align: center;
    color: #fff;
	text-shadow: 2px 2px #696969;
}
.fill-area{
	background: linear-gradient(whitesmoke,#d3d3d3);
	padding:50px 0;
}
.fill__img, .offers__img{
	margin-left: auto;
    margin-right: auto;
    height: 250px;
    text-align: center;
}
.fill__img img, .offers__img img{
	height:100%;
}
.fill__lft  h3, .offers__rgt  h3{
	margin-bottom:40px;
	font-size: 25px;
    color: #696969;
    text-shadow: 3px 3px 3px #fff;
}
.fill__lft p{
	color: #696969;
}
.offers-area{
	padding:50px 0;
}