.price-area{
	padding:50px 0;
	background-color: #f1f1f6;
}
.price__title h2{
	margin:0;
	line-height:2;
	color:#696969;
}
.price__title{
	background-color:#fff;
	border:1px solid #696969;
}
.price-guide-img img{
	width:100%;
}
.price-guide-img{
	height:370px;
	overflow:hidden;
}
.price-bnr-cont h3{
	margin:0;
}
.price-guide-bnr{
	position:relative;
}
.price-bnr-cont {
    position: absolute;
    background-color: #fff;
    opacity: 0.8;
    padding: 5px;
    bottom: 12em;
    width: 100%;
    text-align: center;
}
.price__posting ul li a{
	color: #333;
	text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	padding: 6px 12px;
	border:1px solid #dbdbdb;
	min-width: 160px;
	display:inline-block;
	margin-bottom:5px;
	border-radius: 4px;
}
.price__posting ul li a:hover{
	background-color: #e0e0e0;
    background-position: 0 -15px;
	border-color: #adadad;
	text-decoration: none;
}
.price__post__cont h4{
	font-size:18px;
	font-weight:500;
	line-height:1.1;
}
.price__post__cont{
	padding:40px 0;
}
.price-guide-box{
	background-color:#fff;
}
.price__seg__main{
    padding: 0 30px;
}
.price__seg__box{
	border:1px solid #696969;
	padding:0;
	margin-left:-1px;
}
.price__seg__title h5{
	font-size:18px;
	font-weight:500;
	color: #333;
}
.price__seg__title span{
	font-weight:100;
	font-size:16px;
}
.price__task__title h2{
	font-size: 25px;
    font-weight: 500;
    color: #696969;
	margin-bottom:20px;
}
.price__seg__title {
    margin-bottom: 0px;
    background-color: #f7f7f7;
    padding: 15px 0;
}

.price__seg__title span {
    color: #1e90ff;
    font-size: 2em;
    font-weight: 100;
}
.price__seg__inr{
	padding-top:0px;
}
.price__seg__list ul li{
	width: 100%;
	font-size:16px;
}
.price__top__btn{
	margin:30px 0;
}
.price__top__btn a{
	background: #ca2d60;
    background: linear-gradient(-180deg,#ca2d60 0,#c61a6d 100%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	text-shadow: 0 1px 0 #fff;
	border: 1px solid transparent;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-family: 'Josefin Sans',sans-serif;
	padding: 6px 12px;
	display:inline-block;
}
.price__top__btn a:hover{
	background: #c61a6d;
    background: linear-gradient(-180deg,#ca2d60 0,#c61a6d 100%);
    color: #d3d3d3;	
}
.price__seg {
	padding-bottom:30px;
	padding-top: 40px;
}

.price__posting ul li a {
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px 0;
}