/*==============Media Queries==============*/
/* 24" large Screens */
@media only screen and (max-width : 1920px) {

.caro-caps{
	bottom:24em;
}

	}


/* 22" large Screens */
@media only screen and (max-width : 1680px) {

.caro-caps {
    bottom: 20em;
}

	}


/* 20" large Screens */
@media only screen and (max-width : 1600px) {

.caro-caps {
    bottom: 19em;
}

	}


/* 19" large Screens */
@media only screen and (max-width : 1440px) {

.caro-caps {
    bottom: 15em;
}

	}
	
@media only screen and (max-width : 1368px) {

.caro-caps {
    bottom: 14em;
}

	}


/* 13" Notebook Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {

.caro-caps {
    bottom: 13em;
}

	}


/* 12" Notebook & iPad landscape  · width: 1024px */
@media only screen and (max-width : 1024px) {

.slide__cont  h1{
	font-size:72px;
}
.caro-caps {
    bottom: 8em;
}
.task__cont.valigner {
    min-height: 131px;
    width: 100%;
}
.task__cont h4 , .task__cont h4 a {
    font-size: 20px;
    padding: 0 15px;
}
.task__img{
	height:131px;
}
.info__box i{
	font-size:22px;
}
.info__cont h3{
	font-size:22px;
}
.info__img{
	height:415px;
}
.signup__hed h2{
	font-size:70px;
}
.signup__img {
	text-align:left;
}
.signup__img ul li a{
	min-width:180px;
}
a.signup__fb{
	margin-right:0;
	margin-bottom:10px;
}
.slide__cont {
	padding:0 20px;
}
.hdr-area ul:nth-child(2) .dropdown ul {
    right: -35px;
    left: auto;
}
.brs-ctg ul li button{
	padding: 0 11px;
}
.brs-ctg ul li button i {
    padding: 0 2px 0 0;
    text-align: center;
}
.task__tobe__compl span{
	padding: 5px;
	font-size: 12px;
}
.brs__task__sts{
	padding: 0;
}
.work__camera, .work__hammer{
	margin-right: 150px;
}    
.work__laptop{
	margin-right:130px;
}
.work__bnr__cont h4{
	height:38px;
}	
.verf__rgt {
    padding: 50px 0px;
}
.loc__box {
    margin-top: 10px;
}
.work-pay-area {
    background-size: 100% 100%;
    height: 400px;
}
.pay__lft__icon__img{
	margin-top:45px;
}
.pay__lft__icon__img--2{
	margin-top:32px;
}
.signup-slider .item{
	background-size: cover;
}
.comp-prof-area ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.inr__bnr__cont.valigner {
    min-height: 312px;
}
.inr__bnr__cont h2{
	font-size:40px;
}
.about__map__inr{
	width:auto;
}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {	}


/*Landscape*/
@media only screen and (max-width : 960px) {	}


/* Kindel Fire HD 8.9in (800x1280) Tablets */
@media only screen and (max-width : 800px) {

.work__camera, .work__hammer {
    margin-right: 78px;
}
.work__laptop {
    margin-right: 60px;
}
.work__manTool img , .work__msr__tool img {
    height: auto;
}
.task__cont.valigner {
    min-height: 95px;
    width: 100%;
}
.task__img {
    height: 95px;
}
.category-area .sect__title p{
	width:75%;
}
.loc__img__pin {
	display: none;
}
.work-pay-area{
	height:390px;
}
.pay__lft__icon__img {
    margin-top: -3px;
}
.pay__lft__icon__img--2 {
    margin-top: -14px;
}
	}


/* iPad (All) (768x1024) Portrait Tablets */
@media only screen and (max-width : 768px) {


.task__img {
    height: 175px;
}
.task__cont.valigner {
    min-height: 175px;
    width: 100%;
}
.task__cont h4, .task__cont h4 a{
	font-size:22px;
}
.task__inr:hover .task__cont h4 , .task__inr:hover .task__cont h4 a{
    font-size: 24px;
}
.slide__cont h1 {
    font-size: 64px;
}


.caro-caps {
    bottom: 4em;
}
.info__lft{
	width:100%;
}
.info__img{
	position:static;
}
.info__rgt {
    position: relative;
    padding-left: 50px;
    width: 100%;
    padding: 20px 15px 0px;
    text-align: center;
}
.info-area{
	padding-bottom:0;
}
.work__img {
    padding: 0 50px;
}
.work__desc p{
	padding:0 80px;
}
.recent__inr__box{
	height:201px;
}
.signup__form{
	width:50%;
	margin-left: 7px;
}
.signup__hed h2 {
    font-size: 64px;
}
.signup__rgt {
    width: 41%;
    margin-left: 15px;
}
.hdr-area ul:nth-child(2) .dropdown ul {
    right: -15px;
    left: auto;
}
.brs-ctg ul li {
    margin-left: 5px;
    margin-right: -1px;
}
.brs-ctg ul li button {
    padding: 0 4px;
    font-size: 13px;
}
.brs-ctg ul li button i {
    padding: 0 2px 0 0;
    text-align: center;
    font-size: 10px;
}
.brs__usr__img{
	height:40px;
	width:40px;
}
.task__tobe__compl small {
    width: 100%;
    display: block;
}
.brs__rgt__inr {
	padding:0;
}
.brs__rgt__taskTitle {
    padding: 0 0 20px;
}
.rgt__task__price{
    padding: 0;
}
.rgt__desc__box {
	padding-left: 0;
}
.rgt__price__moreOpt .dropdown-menu>li>a{
	padding: 3px 6px;
}
.brs__filt__box{
	height:250px;
}
.ftr__inr{
	width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.contact__us__bg__img h3{
	margin-right:5%;
}
.terms__condtn.hdng.col-sm-12{
	padding-bottom: 10px;
}
.inr__bnr__cont h4{
	font-size:16px;
}
.inr__bnr__cont h2 {
    font-size: 30px;
}
.inr__bnr__cont.valigner {
    min-height: 235px;
}


	}

/* Lower then iPad (All) (767x---) */
@media only screen and (max-width : 767px) {	}

/*iPhone 6 Plus landscape · width: 736px */
@media only screen and (max-width : 736px) {

.slide__cont h1 {
    font-size: 60px;
}

.caro-caps {
    bottom: 5em;
}


.more-btn{
	width:100%;
}
.task__img {
    height: 200px;
}
.task__cont.valigner {
    min-height: 200px;
    width: 100%;
}
.work__box {
	margin-bottom:20px;
}
.work__desc p {
    padding: 0 60px;
}
.recent__inr__box {
    height: auto;
}
.recent__div {
    margin-bottom: 30px;
	padding: 0 22px;
}
.recent__div:last-child{
	margin-bottom:0;
}
.signup__form__title h3 {
    margin-top: 12px;
    margin-bottom: 5px;
    padding-top: 17px;
}
.signup__form {
    width: 45%;
    margin-left: 7px;
	margin-top: 6px;
	float: left;
}
.signup__hed h2 {
    font-size: 60px;
}
.signup__rgt {
    width: 40%;
    margin-left: 50px;
    float: left;
}
.find-btn {
    width: 100%;
}
ul.brs-ctg-nav{
	padding: 0 10px;
}
.brs-ctg ul li {
    margin: 0 3px;
    width: 32%;
}
.brs-ctg ul li button {
    padding: 0 10px;
    font-size: 16px;
	width: 100%;
}
.brs-ctg ul li button i {
    padding: 0 2px 0 0;
    text-align: center;
    font-size: 14px;
}
.brs__rgt__taskTitle hr{
	display:none;
}
.brs__task__usr {
    width: 20%;
    float: left;
}
.brs__task__desc.col-sm-6 {
    width: 50%;
    float: left;
}
.brs__task__price.p0.col-sm-3 {
    width: 30%;
    float: left;
    text-align: center;
}
.brs__usr__img {
    height: 65px;
    width: 65px;
}
.brs__task__desc h4 {
    font-size: 20px;
}
.brs__task__desc h6 {
    font-size: 14px;
}
.brs__task__desc small {
    font-size: 12px;
}
.brs__task__price button {
    font-size: 12px;
    width: 75px;
}
.task__tobe__compl span {
    padding: 8px;
    font-size: 14px;
}
.brs__rgt__commt .button-btn{
	float: none;
}
.rgt__task__info{
	padding-bottom: 20px;
}
.brs__filt__box{
	height:auto;
}
.brs__tasks__box ul li {
    margin: 0;
}
.work__bnr__img {
    position: static;
    height: 265px;
}
.work__bnr__img__abs {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    lefT: 0;
    right: 0;
    text-align: center;
}
.work__bnr__img--1 {
    left: 0;
    width: 100%;
}
.work__bulb {
    height: 30px;
    width: 27px;
    margin-top: 0;
    margin-left: 38px;
    z-index: 15;
    margin: 0 auto;
}
.work__chair {
    height: 30px;
    width: 27px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    right: 130px;
}
.work__paint {
    height: 30px;
    width: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    right: 130px;
}
.work__boxMove {
    height: 30px;
    width: 27px;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    right: 160px;
}
.work__womanTask {
    height: 210px;
    margin-top: 40px;
}
.work__laptop {
    height: 30px;
    width: 27px;
    right: 0;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    left: 160px;
}
.work__camera {
    height: 30px;
    width: 27px;
    right: 0;
    margin-top: 47px;
    margin-right: auto;
    margin-left: auto;
    left: 130px;
}
.work__hammer {
    height: 30px;
    width: 27px;
    right: 0;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    left: 130px;
}
.work__bnr__cont h4 {
    height: auto;
}
.work__bnr__inr {
    margin-bottom: 40px;
}
.work__manTool img {
    height: 100%;
}
.work__bnr__img__abs--two {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.work__woman__msr {
    height: 210px;
    margin-top: 35px;
    z-index: 15;
	right: 60px;
}
.work__womanTask--two {
    height: 150px;
    left: 0;
}
.work__drill {
    height: 50px;
    margin-top: 200px;
    left: 0;
}
.work__manTool {
    height: 160px;
    left: 65px;
    margin-top: 60px;
}
.work__msr__tool img {
    height: 100%;
}
.work__msr__tool{
	height: 230px;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
	left:55px;
}
.work__womanTask--three {
    height: 210px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	right: 50px;
}
.work__ratings {
    width: 100%;
    text-align: center;
    left: 55px;
}
.work-bnr-area{
	padding: 65px 0 25px;
}
.category-area .sect__title__inr h3 {
    margin: 30px 0 10px;
}
.verf__lft.valigner {
    min-height: 330px;
    text-align: left;
}
.verf__rgt{
	text-align: center;
}
.loc__img__inr{
	padding: 35px 50px 0;
}
.work-pay-area {
    height: 500px;
    background-size: cover;
}
.pay__lft__icon__img {
    margin-top: 10px;
}
.pay__lft__icon__img--2 {
    margin-top: 15px;
}
.ftr__list h6{
	padding-bottom: 0;
}
.ftr__list.col-sm-3 {
    padding-top: 20px;
}
.contact__us__bg__img h3{
	top: 195px;
    padding: 10px;
}
.modal-dialog {
    margin-right: 27px;
}
#signIn .modal-dialog {
    margin-right: 28px;
}
.make-offer-tip p{
	height: auto;
}
.about__lft {
    padding: 60px 15px 0;
}
.about__rgt {
    padding: 0 15px 60px;
}
	}

/*iPhone 6 landscape · width: 667px */
@media only screen and (max-width : 667px) {

.slide__cont h1 {
    font-size: 54px;
    line-height: 1;
}

.start-btn a {
    font-size: 18px;
    padding: 8px 22px;
}
.caro-caps {
    bottom: 60px;
}
.task__cont.valigner {
    min-height: 173px;
    width: 100%;
}
.task__img {
    height: 173px;
}
.signup__form__title h3{
	font-size: 22px;
}
.signup__form{
	margin-top:7px;
}
.signup__hed h2 {
    font-size: 54px;
}
.signup__rgt {
    width: 45%;
    margin-left: 40px;
    float: left;
}
ul.brs-ctg-nav {
    padding: 0 6px;
}
.brs-ctg ul li {
    margin: 0 5px;
    width: 31%;
}
.task__cont h4 a{
	padding:0 3px;
}
.contact__us__bg__img h3{
	font-size:21px;
}
#signIn .modal-dialog {
    margin-right: 27px;
}
.inr__bnr__cont.valigner {
    min-height: 204px;
}
	}


/*iPhone4 and iPhone5 Galaxy S2 and S3  */
@media only screen and (max-width : 640px) {

.slide__cont h1 {
    font-size: 50px;
    line-height: 1;
}
.caro-caps {
    bottom: 55px;
}
.work__desc p {
    padding: 0 30px;
}
.signup__form{
	width:50%;
}
.signup__rgt {
    width: 41%;
    margin-left: 35px;
}
.signup__hed h2 {
    font-size: 50px;
}

	}
	
/* Google Nexus 7 603x966 | Samsung Galaxy Tab 600x1024  */
@media only screen and (max-width : 603px) {

.slide__cont h1 {
    font-size: 42px;
    line-height: 1;
}


.task__cont.valigner {
    min-height: 161px;
    width: 100%;
}
.task__img {
    height: 160px;
}
.work__desc p {
    padding: 0 10px;
}
.signup__form{
	width:50%;
}
.signup__rgt {
    width: 40%;
    margin-left: 30px;
}
.signup__hed h2 {
    font-size: 42px;
}
.inr__bnr__cont.valigner {
    min-height: 183px;
}
	}


/* iPhone 5 Landscape · 320x568px */
@media only screen and (max-width : 568px) {

.caro-caps {
    bottom: 50px;
}
.task__cont h4 , .task__cont h4 a {
    font-size: 24px;
}
.task__cont.valigner {
    min-height: 149px;
    width: 100%;
}
.task__img {
    height: 149px;
}
.brs-ctg ul li {
    margin: 0 2px;
    width: 32%;
}
.verf__lft h3, .pay__lft h3{
	font-size: 26px;
}
.verf__lft p {
    color: #fff;
    font-size: 16px;
}
.category-area .sect__title p {
    width: 100%;
}
.inr__bnr__cont h2 {
    font-size: 28px;
}
.inr__bnr__cont h4 {
    font-size: 15px;
}
.inr__bnr__cont.valigner {
    min-height: 174px;
}
	}


/* Kindel Fire HD 8.9in (533x853) Tablets */
@media only screen and (max-width : 533px) {

.caro-caps {
    bottom: 40px;
}
.task__cont.valigner {
    min-height: 137px;
    width: 100%;
}
.task__img {
    height: 137px;
}
.task__cont h4 , .task__cont h4 a{
    font-size: 22px;
}
.signup__form__title h3 {
    font-size: 20px;
}
.signup__form form {
    padding: 10px 20px 20px;
}
.signup__img ul li a{
	padding:6px 10px;
}
.signup__rgt {
    width: 40%;
    margin-left: 20px;
}
.brs-ctg ul li {
    margin: 0 4px;
    width: 31%;
}
	}


/*iPhone3 Landscape*/
@media only screen and (max-width : 480px) {

.slide__cont h1{
	font-size:36px;
}

.task__cont.valigner {
    min-height: 120px;
    width: 100%;
}
.task__img {
    height: 120px;
}
.task__cont h4, .task__cont h4 a {
    font-size: 20px;
}
.task__inr:hover .task__cont h4, .task__inr:hover .task__cont h4 a {
    font-size: 20px;
}
.signup__form {
    width: 45%;
}
.signup__form form {
    padding: 10px 10px 17px;
}
.signup__form__title h3 {
    font-size: 18px;
}
.signup__form__title h3 {
    margin-top: 12px;
    margin-bottom: 5px;
    padding-top: 5px;
}
.signup__hed h2 {
    font-size: 36px;
}
ul.brs-ctg-nav {
    padding: 0 10px;
}
.brs-ctg ul li {
    width: 30%;
}
.contact__us__hdng h2{
	padding-top:15px;
	padding-bottom:15px;
	font-size:30px;
}
.contact__us__bg__img img {
    height: auto;
    width: 100%;
}
.contact__us__bg__img h3 {
    font-size: 20px;
    position: static;
    margin-bottom: 0;
}
.inr__bnr__cont.valigner {
    min-height: 147px;
}
.about__box {
	padding:0;
}
.about__lft{
	padding: 65px 0 0;
}
.about__rgt {
    padding: 0 0 60px;
}
	}


/* iPhone 6 PLUS (414x736) */
@media only screen and (max-width : 414px) {


.start-btn a {
    font-size: 13px;
    padding: 4px 12px;
}
.start-btn {
    margin-top: 8px;
}
.caro-caps {
    bottom: 32px;
}


.task__img {
    height: 157px;
}
.task__cont.valigner {
    min-height: 157px;
    width: 100%;
}
.signup__form form {
    padding: 10px 5px 17px;
}
.signup__hed h2 {
    font-size: 32px;
}
.signup__form {
    width: 45%;
    margin-left: 0;
}
.signup__rgt {
    width: 40%;
    margin-left: 0;
}


.brs__tasks__box ul li {
    margin: 0;
    padding: 0 10px;
}
.brs__usr__img {
    height: 50px;
    width: 50px;
}
.brs__task__desc h4 {
    font-size: 18px;
}
.brs__task__desc h6 {
    font-size: 13px;
}
.brs__task__desc small {
    font-size: 11px;
}
.brs__task__price h2{
    font-size: 24px;
}
.loc__img__inr {
    padding: 25px 25px 0;
}
.rgt__task__offers p{
	height: auto;
}
.inr__bnr__cont h2 {
    font-size: 24px;
	margin-bottom:5px;
}
.inr__bnr__cont h4 {
    font-size: 14px;
	margin:0;
}
.inr__bnr__cont.valigner {
    min-height: 127px;
}
	}


/* iPhone 6 portrait (375x667) */
@media only screen and (max-width : 375px ) {

.slide__cont h1 {
    font-size: 30px;
}
.slide__cont  h4{
	width:60%;
}
.start-btn {
    margin-top: 6px;
}
.caro-caps {
    bottom: 25px;
}
.task__img {
    height: 137px;
}
.task__cont.valigner {
    min-height: 137px;
    width: 100%;
}
.signup__form__title h3 {
    font-size: 16px;
}
.signup__form form input {
    height: 30px;
    border-radius: 4px;
}
.signup__form button{
	padding:4px 12px;
}
.signup__form form {
    padding: 10px 0 17px;
}
.signup__hed h2 {
    font-size: 30px;
}
.signup__form {
    width: 42%;
    margin-left: 0;
}
.signup__img ul li a {
    padding: 4px 6px;
}
.signup__img ul li a {
    min-width: 170px;
}
.signup__form {
    margin-top: 22px;
}
.brs__task__price h2 {
    font-size: 22px;
}
.brs__rgt__post{
	padding:20px 0;
}
.inr__bnr__cont h2 {
    font-size: 21px;
    margin-bottom: 5px;
}
.inr__bnr__cont.valigner {
    min-height: 115px;
}
	}


/* Galaxy S5 (360x640) */
@media only screen and (max-width : 360px) {

.slide__cont h4 {
    font-size: 13px;
    margin-top: 8px;
}
.start-btn {
    margin-top: 2px;
}
.task-box{
	width:100%;
}
.task__img {
    height: 180px;
}
.task__cont.valigner {
    min-height: 180px;
    width: 100%;
}
.signup__form{
	width:100%;
}
.signup-slider .item {
    height: 574px;
}
.signup__rgt.valigner {
    min-height: auto;
    display: table;
    text-align: center;
    margin-top: 20px;
}
.brs__rgt__taskTitle h2{
	font-size: 24px;
}
.loc__img__inr {
    padding: 25px 0 0;
}
.pay__lft__icon__img--2 {
    margin-top: 12px;
}
	}


/* iPhone 3/4 Blackberry8300 / LG/ AUSUS / S3 S4 */
@media only screen and (max-width : 320px) {

.slide__cont h4 {
    width: 65%;
	margin-top: 5px;
}
.slide__cont h1 {
    font-size: 28px;
}
.start-btn a {
    font-size: 12px;
    padding: 4px 12px;
}
.start-btn {
    margin-top: 0px;
}
.caro-caps {
    bottom: 19px;
}
.task__img {
    height: 153px;
}
.task__cont.valigner {
    min-height: 153px;
    width: 100%;
}
.info__img {
    height: 305px;
}
.signup__rgt.valigner{
	padding:0;
	margin-top:24px;
}
.signup__hed h2 {
    font-size: 28px;
}

.hdr-area .navbar-nav>li>a{
	padding: 10px;
}
.brs__usr__img {
    height: 40px;
    width: 40px;
}
.brs__postBy__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.brs__rgt__post small {
    padding-top: 2px;
    padding-left: 0;
    display: inline-block;
    font-style: italic;
}
.brs__rgt__commt ul.list-group small{
	font-size:10px;
}
.pay__lft__icon__img {
    margin-top: 5px;
}
.pay__lft__icon__img--2 {
    margin-top: 3px;
}
.terms__condtn.hdng__inner h2, .privacy__policy.hdng__inner h2{
	font-size:26px;
}
.inr__bnr__cont h2 {
    font-size: 18px;
}
.inr__bnr__cont h4 {
    font-size: 12px;
    margin: 0;
}
.inr__bnr__cont.valigner {
    min-height: 98px;
}
	}


/*Galaxy Y*/
@media only screen and (max-width : 240px) {	}