.sociallogin {
    height: 5em;
}
.inr__signup__form__title h3{
color: #0086fe;
font-size:21px;
font-weight: 500;
}
.inr__signup__form .radio label, .inr__signup__form .checkbox label{
	line-height: 2;
}

.inr__signup__form {
    box-sizing: border-box;
    padding: 20px;
}

.inr__signup__form .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
	
}

.btn-primary.inner__signup__btn:hover, .btn-primary.inner__signup__btn:focus {
    background-color: #2e6da4;
    background-position: 0 -15px;
}

.btn-primary.inner__signup__btn:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary.inner__signup__btn {
    background-color: #286090;
}


.sign__clr {
color: #23527c;
}

.inr__signup__form .form-control:focus {
    border-color: #66afe9;
}

 .forgot__clr{
	 color: #337ab7;
    text-decoration: none;
 }
 
 .mar__btm {
 margin-bottom: 15px;
 }
 

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
	
	border-color: #ddd;
	text-align: center;
    font-size: 16px;
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    color: #444;
    cursor: pointer;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
	border-radius: 4px;
    border:1px solid transparent;
    outline: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    border-color: #ddd;
    display: none;
	overflow: hidden;
}

.terms-conditions {
background-color:#f1f1f6;
margin-top:50px;	
	
}

.privacy-policy {
background-color:#f1f1f6;
margin-top:50px;	
	
}


.market-place {
background-color:#f1f1f6;
margin-top:50px;	
	
}


.terms__condtn.hdng__inner h2 {
	text-align:center;
	font-size:30px;
	margin-top: 20px;
    margin-bottom: 10px;
	font-family: 'Roboto Condensed',sans-serif;
    font-weight: 500;
    line-height: 1.1;
	box-sizing: border-box;
}
 
.privacy__policy.hdng__inner h2 {
	text-align:center;
	font-size:30px;
	margin-top: 20px;
    margin-bottom: 0;
	font-family: 'Roboto Condensed',sans-serif;
    font-weight: 500;
    line-height: 1.1;
	box-sizing: border-box;
} 
 
 
 .market__place.hdng__inner h2 {
	text-align:center;
	font-size:30px;
	margin-top: 20px;
    margin-bottom: 10px;
	font-family: 'Roboto Condensed',sans-serif;
    font-weight: 500;
    line-height: 1.1;
	box-sizing: border-box;
} 
 
 
 
 
.terms__condtn.hdng.col-sm-12

 {
    margin-left: 5%;
    text-align: center;
    background: #fff;
    font-weight: 700;
    font-size: 32px;
    color: #696969;
	margin-bottom:80px;
    padding-bottom: 20px;
    width: 90%;
    border: 1px solid #696969;
}

 
.privacy__policy.hdng.col-sm-12

 {
    margin-left: 5%;
    text-align: center;
    background: #fff;
    font-weight: 700;
    font-size: 32px;
    color: #696969;
	margin-bottom:80px;
    padding-bottom: 20px;
    width: 90%;
    border: 1px solid #696969;
}

.market__place.hdng.col-sm-12

 {
    margin-left: 5%;
    text-align: center;
    background: #fff;
    font-weight: 700;
    font-size: 32px;
    color: #696969;
	margin-bottom:80px;
    padding-bottom: 20px;
    width: 90%;
    border: 1px solid #696969;
}



.acord__sec.privacy__policy {
    margin-bottom: 150px;
}
 
.acord__sec {
	margin-bottom:50px;
}
 
.panel p {
	margin-bottom: 0px;
    cursor: default;
    font-family: 'Roboto Condensed',sans-serif;
    text-align: center;
    padding: 15px;
}
 
   .container.terms__condtn__btm__area {
 margin-bottom: 80px;
 width: 100%;
 
 }
 
 .container.market__place__btm__area {
margin-bottom: 160px;
    width: 100%;
    margin-top: 80px;
 
 }
 
  .container.terms__condtn__btm__area p {
  margin-top:15px;
  font-size: 15px;
  text-align: center;
  font-style: italic;}
  
  
  
  .container.market__place__btm__area p {
  margin-top:15px;
  font-size: 15px;
  text-align: center;
  font-style: italic;
  
  }
  
  .faqs__inner__bg{
	  margin-top:20px;
  }
  
  .faqs__inner__bg img {
    height: 420px;
    width: 80%;
    margin-left: 10%;
  }
  
  .faqs-section {
	  background:#329eff;
  }
  
 .faqs__inner__bg__cont 
  {  margin-top: -19em;
    position: absolute;
	}

.posting__task:hover {
    background: #F6F;
}
	
.posting__task	
	{
	background: #F6C;
    margin: 1em;
	color:#fff;
    font-size: 17px;
    border-radius: 20px;
    font-family: Ubuntu;
	}
	
.faqs__inner__bg__cont h1{
	 margin: 0 0 20px;
	text-align:center;
	color:#fff;
	font-size:45px;
	text-shadow: 3px 3px 3px #696969;
		
	}
		
		
div.container.m0.p0 {
	width:100%;
}	
		
.faqs__inner__bg__cont p {	
 font-family: Ubuntu;	
 font-size: 16px;
 color: #fff;		
		}
		
		
	

.faqs__accordion__hdng h1 {
	    font-family: 'Roboto Condensed',sans-serif;
	font-weight:400;
	
    color: #1e90ff;
    font-size: 26px;
    margin-top: 2.5em;
}


section.faqs-accordion {
	margin-bottom:20px;
}


.faqs__user__hdng h2 {
	margin-bottom: 0px;
	padding-top:20px;
    font-family: 'Roboto Condensed',sans-serif;
    cursor: default;
    margin-top: 60px;
    margin-left: 5%;
    text-align: center;
    background: #fff;
    font-weight: 400;
    font-size: 32px;
    color: #696969;
    padding-bottom: 25px;
    width: 90%;
    border: 1px solid #696969;

}


	
.faqs__user__bg__img img {
	height: 540px;
	width:100%;
	background-size: cover;
    
}		
		
.faqs__user__bg__img {
	width:90%;
	margin-left:5%;
}	
		
.faqs__user__bg__img h3 {
    line-height: 1.1;
    font-family: inherit;
    font-size: 24px;
    text-align: center;
    opacity: .8;
    color: #000;
    margin-right: 10%;
    background: #fff;
    top: 530px;
    position: absolute;
}	
	
.user__faqs__list__inner ul {
	
    padding-left: 50px;
    padding-top: 40px;
    line-height: 25px;
	}

.user__faqs__list__inner ul li {
	
  font-family: 'Roboto Condensed',sans-serif;
  cursor: default;
  
}


.user__list__area__inner h4 {
	 padding-top: 75px;
	font-weight: 100;
	font-family: 'Josefin Sans',sans-serif;
	color: #696969;
    font-size: 21px;
	
}

.user-list-area {
    padding-left: 20px;
   
	
	}


	
.user__list__area__inner p	{
	
	font-weight: 100;
    font-family: 'Josefin Sans',sans-serif;
	padding-top: 13px;
    padding-right: 45px;
    color: #696969;
    font-size: 15px;
		
	}

section.user-faqs-list-section.container {
    margin-bottom: 15%;
}


.user-faqs-list {
	margin-bottom:15%;
}
.new-faq-usr-cont{
	width:90%;
}	


.contact__us__hdng h2 {
	margin-bottom: 0px;
	padding-top:20px;
    font-family: 'Roboto Condensed',sans-serif;
    cursor: default;
    margin-top: 60px;
    margin-left: 5%;
    text-align: center;
    background: #fff;
    font-weight: 400;
    font-size: 32px;
    color: #696969;
    padding-bottom: 20px;
    width: 90%;
    border: 1px solid #696969;

}


	
.contact__us__bg__img img {
	height: 340px;
	width:100%;
	background-size: cover;
    
}		
		
.contact__us__bg__img {
	width:90%;
	margin-left:5%;
}	


.contact__us__bg__img h3 {
    font-family: inherit;
    font-size: 24px;
    text-align: center;
    opacity: .8;
    color: #000;
    margin-right: 10%;
    background: #fff;
    top: 265px;
    position: absolute;
	padding:5px;
}	


.inr__contact__us__form{
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inr__contact__us__form .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control.contact__us__msg__box{
	height:100px;
}

.inr__contact__us__form .form-control:focus {
    border-color: #66afe9;
}

button.btn.btn-succcess.center-block.contact__btn {
	color: #555;
    font-size: 16px;
}

textarea.contact__us__msg__box  {
	
border: 1px solid #ccc;
resize:none;
height:auto;
border-radius: 4px;
padding:6px 12px;

}

.blog__hdng h2 {
	font-family: inherit;
	    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1690FE;
    color: #fff;
    font-size: 25px;
}

section.blog-hdng {
	    background-color: #1690FE;
}



.blog-list h4 {
	font-family:inherit;
	    color: #1690FE;
    font-weight: 600;
    font-size: 27px;
}


a.blog__list__area {
	margin-top:30px;
	margin-bottom:30px;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	font-family: 'Roboto Condensed',sans-serif;
    position: relative;
    display: block;
    padding: 10px 15px;	
	border: 1px solid #ddd;
	
	
}

.blog__list__area blockquote ul li {
	
	display:block;
	margin: 0 0 20px;
	list-style:none;
	color: #696969;
    font-size: 14px;
}

.blog__list__area blockquote ul  {
	padding-left:0px ;
}

.fa-minus:before {
    content: '\2014 \00A0';
    /* content: "\f068"; */
}
.blog__split { 

    color: #1690FE;
    background-color: #1690fe;
    border-style: dashed;
	}
	
	
.blog__sidebar__img img {
	
	width: 100%;
    margin-top: 1em;
	
}	
	
.blog__sidebar__hdng h3 {
	    
	color: #1690FE;
    font-size: 17px;
    font-weight: 600;
	font-family: inherit;
}
	
	
.blog__sidebar__Categories__list ul li {
	
    list-style: none;
    line-height: 24px;
}	
	
.blog__sidebar__Categories__list ul {
 padding-left:0px;
	
}

.blog__sidebar__Categories__list ul li a {
	font-size: 16px;
    font-weight: 600;
    color: #696969;
}
	
	
.blog__sidebar__Categories__list ul li a:hover {
	
	color: #23527c;
    text-decoration: underline;
	
}	
	
	
	
.blog__detail__list__area blockquote ul li {
    display: block;
    margin: 0 0 20px;
    list-style: none;
    color: #333;
    font-size: 21px;
}	
	
.blog__detail__list__area blockquote ul {
	
	padding-left:0px;
}

.blog__detail__list__area blockquote {
	margin-top:50px;
}


.blog-detail-list h4 {
	
	color:#0086fe;
    margin: 0 0 25px;
    font-size: 30px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    
}

.blog-detail-list {
	margin-top:50px;
}

  span.text-muted {  
  
  font-style: italic;
  font-size: 12px;
  
}


.blog__detail__posted ul li {
	list-style:none;
}


.blog__detail__posted ul{
	padding-left:0px;
	
}

section.blog-detail-section {
margin-bottom:50px;	
}

.edit__btn.pull-right {
	margin-left: 5px;
	padding-left: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #296396;
}


section.forgot-pswrd-section {
	
    margin-top: 50px;
    margin-bottom: 50px;
}


.forgot__pswrd__hdng h3 {
    font-family: inherit;
    text-align: center;
	}


.inr__forgot__pswrd__form {
    box-sizing: border-box;
    margin-top: 10px;
}


.inr__forgot__pswrd__form .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.inr__forgot__pswrd__form .form-control:focus {
    border-color: #66afe9;
}



button.btn.btn-succcess.center-block.submit__btn {
    color: #fff;
    background-color: #2c699e;
    font-size: 16px;
}



















