.work__bnr__img{
	position:relative;
	height:265px;
}
.work__bnr__img__abs{
	position:absolute;
}
.work__bulb{
	height: 30px;
    width: 27px;
	margin-top: 0;
    margin-left: 38px;
	z-index: 15;
}
.work__bulb img{
	height:100%;
}
.work__chair{
	height: 30px;
    width: 27px;
	margin-left: -27px;
    margin-top: 47px;
}
.work__paint{
	height: 30px;
    width: 27px;
	margin-left: -26px;
    margin-top: 150px;
}
.work__hammer{
	height: 30px;
    width: 27px;
	right:0;
    margin-top: 150px;
    margin-right: 220px;
}
.work__boxMove{
	height: 30px;
    width: 27px;
	margin-left: -42px;
    margin-top: 100px;
}
.work__camera{
	height: 30px;
    width: 27px;
    right:0;
    margin-top: 47px;
    margin-right: 220px;
}
.work__laptop{
	height: 30px;
    width: 27px;
	right:0;
    margin-top: 100px;
    margin-right: 209px;
}
.work__womanTask {
	height:210px;
	margin-top: 40px;
}
.work__womanTask img{
	height:100%;
}
.work-bnr-area{
	background: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
	padding:65px 0;
}
.work__woman__msr{
	height:210px;
	margin-top: 35px;
	z-index: 15;
}
.work__woman__msr img{
	height:100%;
}
.work__womanTask--two{
	height:150px;
	margin-left: 90px;
}
.work__womanTask--two img{
	height:100%;
}
.work__drill{
	height:50px;
	margin-top: 200px;
    margin-left: 95px;
}
.work__drill img{
	height:100%;
}
.work__manTool{
	height: 160px;
    margin-left: 155px;
    margin-top: 60px;
}
.work__manTool img{
	height:100%;
}
.work__bnr__img__abs--two{
	position:absolute;
}
.work__bnr__img__abs--three{
	position:absolute;
}
.work__msr__tool{
	height:230px;
	margin-top: 15px;
    margin-left: 105px;
}
.work__msr__tool img{
	height:100%;
}
.work__womanTask--three{
	height:210px;
	margin-top: 30px;
    margin-left: 15px;
}
.work__womanTask--three img{
	height:100%;
}
.work__ratings  ul li span{
	color:#fed130;
}
.work__ratings {
	width:100%;
	text-align:center;
}
.work__bnr__cont{
	text-align:center;
	padding: 0 10px;
}
.work__bnr__cont h4{
	color:#fff;
}
.work__bnr__cont p{
	color:#fff;
	font-size: 12px;
}
.work__bnr__img--1{
	left:30%;
}
.work__bnr__img--2{
	left:14%;
}
.work__bnr__img--3{
	left:14%;
}
.category-area .sect__title h3{
	margin: 60px 0 25px;
}
.category-area .sect__title p{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}
.category-area .task__img{
	box-shadow: 6px 6px 6px #696969;
}
.category-area .sect__title__inr h3{
	margin: 30px 0 25px;
}
.category-area .sect__title__inr p{
	width: 50%;
}
.category-area .ctg__spt{
	text-align:center;
	height:80px;
}
.category-area .ctg__spt img{
	height:100%;
}
.category-area{
	padding-bottom:30px;
}
.verified-area{
	background: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
}
.verf__lft h3{
	color:#fff;
	font-size: 30px;
	font-family: 'Roboto',Helvetica Neue,sans-serif;
}
.verf__lft p{
	color:#fff;
	font-size: 19px;
}
.verf__rgt ul li{
	display:block;
}
.verf__rgt ul{
	padding:0;
	margin:0;
}
.verf__rgt {
	padding:10px 0 0;
}
.verf__lft.valigner{
	min-height:538px;
	text-align:left;
}
.location-area{
	padding:65px 0;
}
.loc__cont{
	background-color: #f1f1f6;
	padding:15px;
}
.loc__cont h4{
	color: #1e90ff;
}
.loc__cont p{
	color: #696969;
}
.loc__img {
	position:relative;
}
.loc__img__pin{
	position:absolute;
	height: 130px;
    left: 0;
    top: 0;
    margin-left: 180px;
    margin-top: 80px;
}
.loc__img__pin img{
	height:100%;
}
.loc__box {
	margin-top:42px;
}
.work-pay-area{
	background-image:url('../images/work-pay-bnr.jpg');
	background-repeat:no-repeat;
	background-size: 100% 400px;
    height: 400px;
}
.pay__lft h3{
	font-family: 'Roboto',Helvetica Neue,sans-serif;
	color: #fff;
    margin-top: 30px;
    font-size: 28px;
}
.pay__lft p{
	color: #fff;
    font-size: 15px;
    margin-top: 20px;
}
.pay__lft__icons{
	position:relative;
}
.pay__lft__icon__img{
	position: absolute;
    left: 0;
    margin-top: 65px;
    margin-left: 0;
}
.pay__lft__icon__img--2{
	position: absolute;
    left: 0;
    margin-top: 55px;
    margin-left: 200px;
}
.task__cont h4 a{
	color:#fff;
	text-align: center;
}