.dboard__lft {
	padding-right:10px;
	margin-bottom: 50px;
}
.dboard__rgt {
	padding-left:10px;
}
.dboard__img{
	border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.dboard__photo{
	text-align:center;
	width:100%;
}
.dboard__lft .nav-pills>li.active>a, .dboard__lft .nav-pills>li.active>a:hover, .dboard__lft .nav-pills>li.active>a:focus{
	text-decoration: none;
    background-color: #fff;
    color: #1e90ff;
	border-radius: 0;
    border-left: 5px solid #1e90ff;
}
.dboard__lft .nav-pills>li>a{
	color: #b2bfc3;
}
.dboard__lft .nav-pills>li>a:hover{
	background-color: #fff;
}
body .tab-content.dboard-tab-height{
	border: 1px solid #696969;
	border-top:1px solid #696969;
	background-color:#fff;
}
.tab-cont-title h3{
	margin:0;
	line-height: 65px;
	font-weight: 400;
	color:#696969;
}
.tab-cont-title{
	border-bottom: 1px solid #696969;
	height:65px;
}
.links__images {
    overflow: hidden;
    height: 150px;
    margin: 0 auto;
	text-align:center;
	padding:0 15px;
}
.dboard__links .swiper-container{
	height: 160px;
}
.dboard__links__title h3{
	margin-bottom:20px;
	font-weight: 200;
	color:#696969;
}
.dboard__username h4{
	color:#696969;
}
body .dboard__links .dontfly.swiper-container .swiper-slide img{
	max-height:150px;
}
body .dboard__links .dontfly.swiper-container .swiper-slide{
	margin-right:0;
}
.dashboard-area{
	background-color: #f1f1f6;
}
.dboard__links {
    margin-bottom: 10px;
}
.tab-cont-title--2{
	border-top: 1px solid #696969;
	margin-bottom:20px;
}
.dboard__links__name.valigner {
    min-height: 150px;
    width: 100%;
}
.dboard__links__name h4 {
    font-size: 20px;
    color: #fff;
    text-shadow: 4px 4px 6px #000;
    text-align: center;
}
.dboard__links__name {
    position: absolute;
    top: 0;
}
body .tab-content.task-tab-content{
	border:none;
	min-height: 220px;
}
.task__tab__inr{
	height:120px;
	background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
	background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
	color: #696969;
}
.task__tab__main{
	padding:50px 0;
}
.task-summ-area .nav-tabs>li>a{
	color:#1e90ff;
}
.task-summ-area .nav-tabs>li.active>a, .task-summ-area .nav-tabs>li.active>a:hover, .task-summ-area .nav-tabs>li.active>a:focus{
	border-bottom-color:#ddd;
	color:#696969;
}
/*.c100{
	background-color:#696969;
	border-radius: 50%;
	font-size: 100px;
	width:100px;
	height:100px;
	float: none;
    margin: 0 auto;
	position: relative;
}
.complete__cir__inr{
	position:absolute;
	left:0;
	top:0;
	display:block;
	line-height:100px;
	text-align:center;
	-webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.c100 .slice {
    position: absolute;
    width: 100px;
    height: 100px;
    clip: rect(0px, 100px, 100px, 50px);
}
.c100.comp-orange.comp-dark .bar, .c100.comp-orange.comp-dark .fill {
    border-color: #e08833 !important;
}
.c100.comp-orange .bar, .c100.comp-orange .fill {
    border-color: #dd9d22 !important;
}
.c100.comp-dark .bar, .c100.comp-dark .fill {
    border-color: #c6ff00 !important;
}
.c100.pd50 .bar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.c100 .bar{
    position: absolute;
    border: 5px solid #307bbb;
    width: 5px;
    height: 5px;
    clip: rect(0px, 50px, 100px, 0px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.c100 *, .c100 *:before, .c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.c100.comp-dark:after {
    background-color: #666666;
}
.c100:after {
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
    content: " ";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 80px;
    height: 80px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}*/

.prec {
    top: 0;
    position: absolute;
    font-size: 24px;
    text-align: center;
    width: 100%;
    left: auto;
    right: 0;
    display: table-cell;
    vertical-align: middle;
    line-height: 125px;
    margin-top: 5px;
}

.circle{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #E6F4F7;
}
.active-border{
    position: relative;
	margin-left:auto;
	margin-right:auto;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color:#1e90ff;
    background-image: linear-gradient(162deg, transparent 50%, #b3d4f4 50%), linear-gradient(90deg, #b3d4f4 50%, transparent 50%); 
}
.comp-prof-area ul li{
	width:33%;
	text-align:center;
}
.comp-prof-area ul li i{
	top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    line-height: 2;
	font-size:30px;
}
.comp-prof-area ul li a{
	color:#1e90ff;
}
.recent__usr__img {
    border-radius: 50%;
    border: 1px solid #d6d6d6;
    width: 35px;
    float: left;
    overflow: hidden;
    height: 35px;
		margin-right:10px;
}
.recent__usr__img img {
    min-width: 100%;
    min-height: 100%;
}
.recent__usr__cont>a {
    display: block;
}
.recent__act__cont p{
	float:left;
}
.recent__cont{
	height:330px;
	overflow-y:auto;
}
.recent__list ul li {
    width: 100%;
    /* background-color: #f1f1f6; */
    color: #7f878a;
    /* padding: 10px 15px; */
    margin-bottom: -1px;
    border: 1px solid #ddd;
}

.hash-old .recent__list ul li {
    width: 100%;
     background-color: #f1f1f6; 
    color: #7f878a;
     padding: 10px 15px; 
    margin-bottom: -1px;
    border: 1px solid #ddd;
}


.recent__act__cont p a{
	color:#1e90ff;
}
.recent__act__cont p a:hover{
	text-decoration:underline;
}
.recent__hdr__dboard{
	border: 1px solid #ccc;
    margin-bottom: -1px;
    text-align: center;
}
.recent__hdr__dboard h4{
	color: #696969;
}
.noti-recent-area.clrlist {
    padding: 30px 15px;
}
.recent__list ul li:hover{
	background: #dcf3ff;
}
.upload__pic__btn{
	position:relative;
}
.upload__pic__btn input {
    opacity: 0;
    position: absolute;
    height: 34px;
    width: 133px;
}
.upload__pic__btn button {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	color:#333;
	padding: 6px;
	font-size:14px;
	line-height: 1.42857143;
    text-align: center;
	border: 1px solid #dbdbdb;
    border-radius: 4px;
	font-weight: normal;
    line-height: 1.42857143;
}
.upload__pic__box{
	width:50px;
	height:50px;
}
.upload__pic__box img{
	border-radius:5px;
	object-fit:cover;
}
.upload__title h4{
	font-weight:500;
	font-size:16px;
	margin-top: 0;
}
.upload__pic__btn{
	padding-left:10px;
}
.view-profile-btn a{
	background: #7a9b17;
    background-image: -webkit-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -moz-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -ms-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -o-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: linear-gradient(to bottom,#9dc81e,#7a9b17);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #fff;
    font-size: 12px;
    padding: 6px 12px;
    text-decoration: none;
    width: auto;
}
.view-profile-btn a:hover, .view-profile-btn a:focus{
	background: #8fb41b;
    background-image: -webkit-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -moz-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -ms-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -o-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    text-decoration: none;
	color: #fff;
}
.view-profile-btn {
    margin-top: 30px;
}
.upload__view{
	text-align:right;
	padding: 20px 15px;
}
.upload__pic {
	padding: 20px 15px;
}
.upload__cvr__img{
	height:120px;
}
.upload__cvr__img img{
	object-fit:cover;
}
.edit__inputs label{
	color:#1e90ff;
}
.blue-icon{
	color:#1e90ff;
}
.edit__inputs input.form-control{
	height:35px;
	border-radius:5px;
}
.edit__inputs .bootstrap-tagsinput input.form-control{
	height:25px;
	border-radius:5px;
}
.edit__inputs  textarea.form-control{
	border-radius:5px;
}
.edit__inputs .form-group{
	margin-bottom:20px;
}
.edit__inputs .form-control::placeholder { color:#696969; -webkit-transition: padding 0.5s; transition: 1s;}
.edit__inputs .form-control::-moz-placeholder { color:#696969; -webkit-transition: padding 0.5s; transition: all 1s;}
.edit__inputs .form-control:-ms-input-placeholder { color:#696969; -webkit-transition: padding 0.5s; transition: all 1s;}
.edit__inputs .form-control::-webkit-input-placeholder { color:#696969; -webkit-transition: padding 0.5s; transition: 1s;}

.save-view-btn a{
	background-color:transparent;
	font-size:14px;
	padding: 6px 15px;
    height: 34px;
    line-height: 23px;
    text-decoration: none;
	color:#696969;
	-webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
	border:1px solid #696969;
}
.save-view-btn a:hover{
	border: #7a9b17;
	border:1px solid #7a9b17;
	color:#7a9b17;
}
.save-view-btn{
	margin-right: 30px;
	margin-bottom:30px;
}
.save-prof-btn{
	margin-top:0;
	margin-left: 50px;
	margin-bottom:30px;
}
.save-prof-btn input[type="submit"]{
	background: #7a9b17;
    background-image: -webkit-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -moz-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -ms-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -o-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: linear-gradient(to bottom,#9dc81e,#7a9b17);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #fff;
    font-size: 14px;
    padding: 7px 12px;
    text-decoration: none;
    width: auto;
	border:none;
}
.save-prof-btn input[type="submit"]:hover{
	background: #8fb41b;
    background-image: -webkit-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -moz-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -ms-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -o-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    text-decoration: none;
	color: #fff;
}
.transport-labels .btn{
	text-shadow: none;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
	padding: 1px 5px;
    font-size: 14px;
    line-height: 2.4;
    border-radius: 3px;
	color:#696969;
	height:35px;
	margin-right: -5px;
}
.transport-labels .btn:last-child{
	margin-right:0;
}
.transport-labels .btn:hover{
	color:#696969;
}
.transport-labels .btn.active{
	background-color: #1e90ff;
    color: #fff;
    border-color: #1e90ff;
    font-weight: 400;
    background-image: none;
}
.edit__inputs .bootstrap-tagsinput{
	line-height: 25px;
	width:100%;
}
.edit__inputs .label-info {
    background-color: #1e90ff;
}
.edit__inputs .label{
	font-size:12px;
	font-weight:500;
}
.edit__inputs {
	padding:0 30px;
}

/*Public Profile Photo */

.cvr__upload__btn{
	position:relative;
}
.cvr__upload__btn input{
	opacity: 0;
    position: absolute;
    height: 34px;
    width: 168px;
	cursor:pointer;
}
.cvr__upload__btn button{
	background: #7a9b17;
	background-color: #7a9b17;
    background-image: -webkit-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -moz-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -ms-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: -o-linear-gradient(top,#9dc81e,#7a9b17);
    background-image: linear-gradient(to bottom,#9dc81e,#7a9b17);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #fff;
    font-size: 14px;
    padding: 7px 12px;
    text-decoration: none;
    width: auto;
	border:none;
	cursor:pointer;
	
}

.cvr__upload__btn button:hover{
	background: #8fb41b;
    background-image: -webkit-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -moz-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -ms-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: -o-linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    background-image: linear-gradient(-180deg,#acc41a 0,#8fb41b 100%);
    text-decoration: none;
	color: #fff;
	cursor:pointer;
}

.cvr__upload {
    display: none;
}

.pub__cvr:hover .cvr__upload {
    display: block;
}

.pub__cvr{
	position:relative;
}
.cvr__upload{
	position:absolute;
	top: 0;
    left: 0;
    margin: 20px 15px;
}
.pub__cvr__pic{
    height: 206px;
    overflow: hidden;
}
.pub__cvr__pic img{
	max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
.cvr__upload__btn button i{
	padding-right:5px;
}
.cvr__upload__btn{
	visibility:hidden;
}
.cvr__upload__btn i{
	visibility:visible;
}
.pub__cvr:hover .cvr__upload__btn{
	visibility:visible;
}
.prof__pic__box {
    height: 145px;
    width: 145px;
    border: 3px solid #fff;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.pub__prof{
	bottom:0;
	margin-top: -160px;
	margin-left:20px;
	position: relative;
}
.prof__pic__upload{
	width:125px;
	margin-left:10px;
}
.prof__pic__upload input {
    opacity: 0;
    position: absolute;
    height: 46px;
    width: 100%;
    cursor: pointer;
	z-index: 20;
}
.prof__pic__upload button{
	position: relative;
    opacity: 0.8;
    background: #000;
    border: none;
}
.prof__pic__upload button i {
    float: left;
    top: 9px;
    position: absolute;
    left: 0;
    padding-left: 8px;
    color: #fff;
}
.prof__pic__upload button span {
    text-align: left;
    display: block;
    position: static;
    padding-left: 24px;
    color: #fff;
}
.prof__pic__upload{
	display:none;
	position:absolute;
}
.pub__prof:hover .prof__pic__upload{
	display: block;
    top: 0;
    margin-top: 93px;
}
.prof__mutual i{
	display: inline-block;
    width: 20px;
}
.prof__usr__title h3{
	color: #696969;
}
.prof__usr__noti i{
	color:#696969;
}
.prof__join p{
	color: #696969;
}
.prof__rate ul li a i.fa-star{
	color: gold;
}
.prof__rate ul li a i.fa-star-o{
	color: #696969;
}
.prof__usr__noti{
	margin-bottom:10px;
}
.prof__tasks__inr h3, .prof__tasks__inr p{
	color: #696969;
}
.prof__frnd__rate {
	text-align:right;
}
.prof__pos__rating h4{
	color:#696969;
}
.prof__mutual h5{
	color:#696969;
	margin-top:20px;
}
.prof__text {
    padding: 0px 0px 10px;
    border-bottom: 1px solid #f1f1f6;
}
.prof__usr h3 {
    color: #1e90ff;
    margin-bottom: 0px;
}

.prof__usr .fa {
    color: #1e90ff;
    font-size: 18px;
}
.prof__tasks__inr {
    border: 0px solid #f7f7f7;
    margin-left: -1px;
}

.prof__tasks__inr h3 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color:#1e90ff;
    display:inline-block;
}
.pub__prof 
 .dropdown:hover .dropdown-menu {
    display: none;
}

.pub__prof 
 .dropdown.open .dropdown-menu {
    display: block;
}

.pub__prof {
    padding-right:  20px;
}

/*.pub__prof button {
    width: 140px;
    border-radius: 0;
    border: 0;
}*/

.prof__sect__title #filter label input {
     display: none; 
}

.prof__sect__title #filter label.is-active {
    background-color: #1e90ff;
    color: #fff;
}
.prof__sect__title h4{
	font-family: 'Roboto',sans-serif;
	color:#696969;
	font-weight:700;
}
.prof__sect__edit a{
	display:table-cell;
	background-color:#696969;
	height:40px;
	width:40px;
	border-radius:50%;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
	border:2px solid #696969;
	line-height: 38px;
	float: right;
}
.prof__sect__edit a i{
	color:#fff;
	font-size:16px;
	line-height:34px;
}
.prof__sect__edit a:hover{
	background-color:transparent;
	border:2px solid #696969;
}
.prof__sect__edit a:hover i{
	color:#696969;
}
.prof__abt, .prof__skills, .prof__review{
	padding:10px 0 20px;
	border-bottom:1px solid #f1f1f6;
}
.prof__sect__title__inr h5 {
	font-weight:600;
	color:#696969;
}
.prof__verf__sm{
	margin-bottom:10px;
}
.prof__verf__sm ul li{
	margin-right:5px;
}
.prof__verf__sm ul li a {
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: #d8d9d8;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
	border:2px solid #d8d9d8;
}
.prof__verf__acct ul li a{
	background-color: transparent;
	color: #696969;
	border:2px solid #696969;
}
.prof__skl__inr ul li a {
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    background: #f1f1f6;
    color: #696969;
    padding: 4px 10px;
    display: block;
    font-size: 12px;
}
.prof__skl__inr ul li{
	margin-right:5px;
	margin-bottom:5px;
}
.prof__skl__inr ul{
	padding-top:5px;
}
.prof__rate__graph{
	width: 100px;
    height: 10px;
    background-color: #a9a9a9;
    border-radius: 10px;
    display: block;
    display: inline-block;
}
.prof__rate li ul li{
	display:inline-block;
}
.prof__review__fm{
	margin-top:5px;
}
.prof__review__fm p{
	font-weight: 500;
}
.public__inr {
    margin-bottom: 50px;
    background-color: #fff;
}
.public-area{
	background-color:#f1f1f6;
}
.prof__pic__box img{
	object-fit: cover;
}

/*End*/

/*Reviews tab*/

.reviews-area .reviews__box{
	padding-bottom:30px;
}
.review__box__desc{
	margin: 20px 15px;
    text-align: center;
	padding: 10px 15px;
    background-color: #f1f1f6;
    border: 1px solid #ddd;
	border-radius:4px;
}
.review__box__desc:hover{
	background-color: #dcf3ff;
}
.review__box__desc p{
	color:#696969;
	margin:0;
}

/*End*/ 


/*Edit Payment Methods*/

.add-payment .fnc-fom form {
    background-color: #fff;
    margin: 40px 0 0;
    padding: 15px;
}
.add__pay__title {
	padding:15px 15px 30px;
}
.add__pay__title h3{
	color: #696969;
}
/*
.add-payment .fnc-fom .form-group{
	margin:20px 0 45px;
}
*/
.add-payment .fnc-fom .form-group input{
	border: none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
	font-weight:500;
}
.add-payment .placelabeler .form-group .form-control~label {
    color: #696969 !important;
    position: absolute;
    text-transform: none;
    top: 10px;
    left: 18px;
	font-weight:500;
	font-family: 'Roboto',sans-serif;
}
.add-payment .fnc-fom .form-control.has-value + label, .fnc-fom .form-group .form-control + label:hover, .fnc-fom .form-group .form-control:hover + label, .fnc-fom .form-group .form-control:focus + label {
    top: -20px;
    font-size: 12px;
    left: 18px;
	color: #607d8b !important;
	font-weight:500 !important;
	font-family: 'Roboto',sans-serif;
}
.add-payment .fnc-fom label i{
	width:22px;
}


.add-payment .fnc-fom .form-group.button-btn input:hover{
	background-color: rgb(84,110,122);
}
.paypal-dtl-box label{
	font-family: 'Roboto',sans-serif;
	color:#696969;
}
.paypal-dtl-box input.form-control{
	height: 35px;
    border-radius: 5px;
}
.paypal-dtl-box .button-btn input{
	background: #a4be01;
    background: -webkit-linear-gradient(top,#a4be01 0,#82ac02 100%);
    background: linear-gradient(-180deg,#a4be01 0,#82ac02 100%);
    padding: 11px 22px;
    color: #fff;
	line-height: 1.4;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.3), inset 0 1px 0 0 #9dd801;
	display: block;
    width: 100%;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
    border-radius: 50px;
	height:45px;
	font-size: 14px;
	border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
.paypal-dtl-title {
    padding: 15px 15px 30px;
}
.paypal-dtl-box .button-btn small{
	line-height: 2.5;
}
.paypal-dtl-box .button-btn{
	margin-bottom:30px;
}

/*End*/ 

/*Change Password*/ 

.save-pwd-btn input[type="submit"]{
	border-radius: 50px;
    border: 1px solid #d6d6d6;
    box-shadow: none;
    min-width: 135px;
    display: inline-block;
    width: 135px;
    height: 40px;
}
.save-pwd-btn input[type="submit"]:hover{
	color:#a4be01;
	border: 1px solid #a4be01;
}
.pwd__box{
	padding:40px 0;
}
.pwd__inputs label{
	font-family: 'Roboto',sans-serif;
	font-weight:500;
}

/*End*/ 

/*Verify Social Accounts*/ 

.verf__inr ul li{
	position:relative;
}
.verf__inr ul li a{
	padding:0px;
}
.verf__inr ul li a.verf__plus__icon {
    /* position: absolute; */
    right: 10px;
    color: #fff;
    background-color: green;
    line-height: 1;
    margin-top: 5px;
    text-align: center;
    border-radius: 4px;
    padding: 6px 12px;
    width: 100%;
    display: block;
}
.verf__inr ul li a i{
	width:100px;
	height:100px;
	color:#fff;
	font-size: 48px;
    line-height: 100px;
}
.verf__inr ul li a i.fa-facebook{
	background-color: #2b4687;
}
.verf__inr ul li a i.fa-twitter{
	background-color: #118ed3;
}
.verf__inr ul li a i.fa-google-plus{
	background-color: #cf4320;
}
.verf__inr ul li a i.fa-linkedin{
	background-color: #0084bf;
}
.verf__inr ul li a i.fa-instagram{
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

/*End*/ 

.db__tasks__table table tbody tr:nth-child(odd) {
    background: #f7f7f7;
}

.db__tasks__table table tbody tr:nth-child(even){
	background: #FFF;
}
.db__tasks__table table tr td {
    color: #696969;
    vertical-align: middle;
}
.db__tasks__table table tr td a {
    color: #1e90ff;
}
.db__tasks__table table tr td a i{
	color:#fff;
}
.db__tasks__table table tr td{
	color:#696969;
}
.db__tasks__table .table>thead>tr>th{
	border-bottom:1px solid #ddd;
	color:#696969;
}
.db__post__task .nav-tabs>li.active>a, .db__post__task .nav-tabs>li.active>a:hover, .db__post__task .nav-tabs>li.active>a:focus {
    border-bottom-color: #ddd;
    color: #696969;
}
.db__post__task .nav-tabs>li>a {
    color: #1e90ff;
}
.db__post__task .tab-content{
	border:0;
}
.db__post__task{
	padding: 30px 15px;
}
.db__post__task .post-task-next{
	border-radius:25px;
	background-color: #a4be01;
	border:1px solid #a4be01;
    color:#fff;
	margin-top:10px;
}
.db__post__task .post-task-back{
	border-radius:25px;
	background-color: #fff;
	border:1px solid #a4be01;
    color:#a4be01;
	margin-top:10px;
}
.db__post__task .post-task-next{
	border: 1px solid #a4be01;
    border-radius: 23px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    padding: 0px 10px;
}
.db__post__task label{
	color: #696969;
    line-height: 11px;
}
.db__post__task .post-loc-cmplt ul li a{
	color:#696969;
	border: 1px solid #696969;
}
.db__post__task .post-loc-cmplt ul li a.btn-primary:hover, .db__post__task .post-loc-cmplt ul li a.btn-primary:focus, .db__post__task .post-loc-cmplt ul li a.btn-primary:active, .db__post__task .post-loc-cmplt ul li a.btn-primary.active, .db__post__task .post-loc-cmplt ul li a .open>.db__post__task .post-loc-cmplt ul li a.btn-primary{
	background-color: #dcf3ff;
    border: 1px solid #0085fe;
    outline: 0;
}
.db__post__task .post-loc-cmplt ul li a.btn>input[type=radio], .db__post__task .post-loc-cmplt ul li a.btn>input[type=checkbox] {
    position: absolute;
    z-index: -1;
    filter: alpha(opacity=0);
    opacity: 0;
}
/*.db__post__task--2 .task__ctg__listChk .btn-primary:active, .db__post__task--2 .task__ctg__listChk .btn-primary.active, .db__post__task--2 .task__ctg__listChk .open>.dropdown-toggle.btn-primary, .db__post__task--2 .task__ctg__listChk .btn-primary:hover, .db__post__task--2 .task__ctg__listChk .btn-primary:focus, .db__post__task--2 .task__ctg__listChk .btn-primary:active, .db__post__task--2 .task__ctg__listChk .btn-primary.active, .db__post__task--2 .task__ctg__listChk .open>.db__post__task--2 .task__ctg__listChk .dropdown-toggle.btn-primary {
    background-image: none;
    border-radius: 0;
    border: 0;
    background-color: #0080f8;
}

.db__post__task--2 li.main__ctg__list {
    display: block;
    background-image: none;
    border-radius: 0;
    border: 0;
    background-color: #dcf3ff;
    color: #696969;
}
.task__ctg__listChk li ul li.is-select {
    background-color: #0080f8;
    border-color: #0085fe;
    color: #fff;
}
*/

.task__ctg__listChk .btn-primary:active, .task__ctg__listChk .btn-primary.active, .task__ctg__listChk .open>.dropdown-toggle.btn-primary , .task__ctg__listChk .btn-primary:hover,.task__ctg__listChk .btn-primary:focus,.task__ctg__listChk .btn-primary:active, .task__ctg__listChk .btn-primary.active, .task__ctg__listChk .open>.task__ctg__listChk .dropdown-toggle.btn-primary{
    background-image: none;
    border-radius: 0;
    border: 0;
	background-color: #0080f8;
}
.task__ctg__listChk li ul li.is-select label {
    color: #fff;
}

.recent__usr__img+p {
    width: 85%;
    float: left;
    margin-bottom: 0;
}

.recent__usr__img+p a {
    display: block;
    /* border-top: 1px dashed #ccc; */
    /* padding-top: 4px; */
    /* margin-top: 4px; */
    font-size: 14px;

}

section.dashboard-area {
    padding-top: 40px;
    padding-bottom: 40px;
}

.task__tab__inr h2 {
    font-size: 48px;
}

.dboard__lft .nav-pills>li>a {
    border: 1px solid #666;
    color: #666;
    font-size: 16px;
    border-radius: 0;
    /* background-color: #fff; */
}

body .task-summ-area .nav-tabs>li.active>a {
    border-bottom-color: transparent;
}

.db__tasks__table  ul.pagination {
    margin: 0 auto;
    float: none;
    width: 100%;
    text-align: center;
}

.db__tasks__table  ul.pagination li {
    float: none;
    display: inline-block;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #1e90ff;
    border-color: #1e90ff;	
}


.login-box .form-group.m-lg-bottom {
    float: left;
    width: 100%;
}

.login-box input.checkbox {
    margin-top: 0px;
}

.login-box .btn {
    min-width: 100px;
}
.dropdown.post-task-ctg:hover  > .dropdown-menu{ display:none;}
.dropdown.post-task-ctg.open	  > .dropdown-menu {
    position: fixed; 
    top: 0;
    right: 0;
    min-width: 210px;
    left: auto;
     height: 100%; 
    border-radius: 0;
    margin: 0;
	display: block;
	width:40%;
}

.dboard__lft .nav-pills>li>a> .fa {
    width: 15px;
    line-height: 25px;
    text-align: center;
    color: #4190ff;
    margin-right:10px;
}


.navbar-login .fa2 {
    position: relative;
    margin-right: 10px;
    transform: scale(1.5);
    color: #1e90e7;
    margin-left: 10px;
}

.navbar-login mark.badge {
    position: relative;
    top: -8px;
    background-color: #d00;
    margin-left: -10px;
    margin-right: 4px;
	    font-size: 10px;
}

#postDraft ul.nav.nav-tabs {
    width: 100%;
    text-align: center;
}

#postDraft ul.nav.nav-tabs li {
    width: 33.333%;
    z-index: 0;
}
#postTask .post-task-back,
#postTask .post-task-next {
    margin: 0 0.5em;
    font-size: 16px;
    font-weight: 100;
    padding: 0.5em 2em;
}
form#myForm {
    margin-bottom: 0;
}


.task__hours>label {
    font-weight: 500;
    margin-right: 15px;
}

.task__hours>label>input {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.task__hours {
    margin: 10px 0;
}

.brs__task__price h2 {
    white-space: nowrap;
    overflow-x: auto;
    line-height: initial;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0;
}

.brs__task__desc h6 {
    margin: 0;
}

.brs__task__desc h4 {
    margin-bottom: 4px;
    margin-top: 4px;
    font-weight: 600;
	font-size: 20px;
	line-height:22px;
}

.brs__task__desc i.fa {
    color: #1e91fe;
    font-size: 12px;
}

.brs__usr__img {
    box-shadow: 0 0 0 4px #eee;
    border: 1px solid #ccc;
}

.navbar-login mark.badge+span {
    display: none;
}

.brs__task__desc i.fa {
    color: #1e91fe;
    font-size: 12px;
}

.brs-ctg ul li button {border-color: transparent;}

.brs__rgt__taskTitle h2 {
    font-weight: 100;
}

.brs__tasks__box {
    padding-top: 0;
}

ul#task_listing {
    margin-bottom: 0;
    min-height: 100%;
    height: 84vh;
}

.brs__tasks__box ul li{
    margin: -1px -1px 0 0px;
}

.brs__task__inr:hover .brs__usr__img {
    box-shadow: 0 0 0 8px #1e90ff;
}

#task_listing>li {
    overflow: hidden;
}


.shareon li {
    display: block;
    background-color: transparent;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0 5px;
    width: 36%;
    float: left;
    margin: 0 7%;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0px #eee;
}

.shareon li:hover {
    box-shadow: 0 0px 10px 0px #ccc;
}

.shareon li .fa {
    font-size: 32px;
    display: block;
}

.shareon {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}
.brs__rgt__taskTitle{
    padding: 0px 15px 20px;
    border-bottom: 1px solid #eee;
}

.rgt__desc__box .progress {
    margin-top: 0px;
    margin-bottom: 5px;
}

.rgt__desc__box {border-right: 1px solid #eee;border-radius: 0px;}

.brs__rgt__post h5 {
    margin-top: 0px;
    margin-bottom: 0;
}

.brs__rgt__post h4 {
    margin-bottom: 0px;
}
.rgt__map__icon a {
    /* display: table-cell; */
    background-color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    line-height: 38px;
    /* float: right; */
    color: #696969;
    display: block;
    float: none;
    margin: 0 auto;
    z-index: 8;
    position: relative;
}

.rgt__map__box:hover{
	height: 300px;
}
.rgt__map__box {
    margin-top: 0;
    padding: 0;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 300px;
    top: auto; 
}

.rgt__map__box iframe {
    height: 100%;
    width: 100%;
}

.rgt__price__offerBtn .btn-default {
    background-color: #eee;
    border-radius: 0;
    padding: 20px 0;
}

.rgt__task__abt h4, .rgt__task__loc h4 {
    color: #696969;
    font-size: 18px;
    font-weight: 300;
}
.task__tobe__compl td:nth-of-type(1) {width: 100px;border-right: crimson;}

.task__tobe__compl td {
    border: 0px solid #eee;
    padding: 5px;
	vertical-align: top;
}

#offers .brs__rgt__commt .list-group-item {
    width: 50%;
}

.prof__rate {
    line-height: 30px;
}

.comment__user .img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 0 2px #ccc;
    border: 2px solid transparent;
}

.comment__user li {
    height: 40px;
    float: left;
    line-height: 40px;
}

.comment__user ul {
    width: 100%;
    float: left;
}

.comment__user ul {
    width: 100%;
}

.comment__user ul li {
    line-height: 50px;
    height: auto;
    margin-right: 15px;
}

.comment__user li.time {
    float: right;
}

.comment__cont {
    background-color: #f7f7f7;
    width: 100%;
    clear: both;
    margin-top: 20px;
    padding: 15px;
    float: left;
    position: relative;
    border: 1px solid #ccc;
}

#comments li.list-group-item {
    float: left;
    width: 100%;
    margin-bottom: 0px;
    border: 0;
}

.comment__cont:before {
    content: " ";
    position: absolute;
    display: block;
    top: -15px;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #ccc;
    border-right: 15px solid transparent;
    left: 10px;
}
.comment__user .img img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 0;
	    top: -2px;
    position: relative;
}

.brs__srch__box {
    width: 100%;
    margin-top: 15px;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}
.brs__srch__box {
    width: 100%;
    margin-top: 15px;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}

.brs__filt__box {
    margin: 10px 0;
    border-radius: 0;
}

.modal .alert {
    margin: 30px 0;
}

.rgt__price__offerBtn > button {
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
}
.tab-cont-title h3 {
    font-size: 28px;
    font-weight: 200;
}
.db__tasks__table .table>thead>tr>th {
    font-size: 18px;
    font-weight: 400;
}

.db__tasks__table [for="Status"] .btn-open {
    background-color: #1e90ff;
    border-color: #1e90ff;
    }

.db__tasks__table [for="Status"] .btn-assigned{
background-color: #8fb41b;
    border-color: #8fb41b;	
}

.db__tasks__table [for="Status"] .btn {width: 110px;     text-transform: uppercase; 

    color: #fff;
	}
	
	.db__post__task .post-task-next,.db__post__task .post-task-back {
    line-height: 40px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    border-radius: 50px;
    padding-top: 0;
    padding-bottom: 0;
}


body .nav-tabs>li>a {
    font-size: 18px;
    font-weight: 100;
    border: 1px solid transparent;
}

.member_list .chat-body .header_sec strong {
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    white-space: nowrap;
    width: 80%;
    display: block;
    padding-top: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.member_list .contact_sec strong {
    font-size: 12px;
    font-weight: 400;
}

.member_list span.chat-img.pull-left {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
}

.task__accepted__msg .chat-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.task__accepted__msg .chat-img img {
    border-radius: 0;
    min-width: 100%;
    min-height: 100%;
}

.contact_sec .primary-font {
    font-size: 24px;
    font-weight: 300;
    white-space: nowrap;
    width: 75%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.member_list span.chat-img.pull-left img {
    border-radius: 0;
    min-width: 100%;
    min-height: 100%;
}

.accepted__info i.fa:before {
    font-size: 22px;
    color: #5cb85c;
}


.accepted__info strong {
    font-weight: 500;
    font-size: 18px;
}

.header_sec .primary-font {
    font-size: 22px;
    font-weight: 300;
}

.hdr-area ul.navbar-login.navbar-nav>li:not(.dropdown)>a {
    padding-left: 5px;
    padding-right: 5px;
}

.reviewer-box .media>.pull-left {
    float: left;
    width: 80px;
    height: 80px;
}

.reviewer-box .media>.pull-left img {
    border-radius: 0%;
    min-width: 100%;
    min-height: 100%;
}

.reviewer-box .__top >a {
    display: block;
    font-size: 18px;
    color: #333;
}

.prof__avg__review .badge {
    background-color: #1e90e7;
}

.reviewer-box {
    box-shadow: 0 0 90px 20px #eee;
    float: left;
    width: 100%;
    margin-top: 40px;
    padding-top: 0px;
}

.reviewer-box>ul>li {
    padding-bottom: 15px;
    padding-top: 15px;
}

.reviewer-box>ul>li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.review__feeback strong {color: #1e90ff;font-weight: 400;}

.dboard__lft .nav-stacked>li+li {
    margin-top: -1px;
}

.btn-completed {
    background-color: #20a248;
    border-color: #20a248;
}
.alert {
    border-radius: 0;
}


.brs-ctg {
    margin-bottom: 15px;
	margin-top: 15px;
}

.transport-labels .btn {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    border-radius: 0;
}


.media.notifi-area {
    background-color: #fff;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 10px;
    margin: 0px;
}

.media.notifi-area i.fa {
    /* background-color: #666; */
    width: 25px;
    text-align: center;
    color: #4190ff;
}

.media.notifi-area a {
    color: #4190ff;
}

.media .notifi__img {
    width: 40px;
    box-shadow: 0px 0px 0px 5px inset;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
	overflow: hidden;
}

.media .notifi__img img {
    width: 100%;
    border-radius: 0;
}

.db__tasks__table table tr td a.btn-success {
    color: #fff;
}


body .jp-card .jp-card-front, body .jp-card .jp-card-back {
    background-color: #4190ff;
}

.expdate.mt0 {
    margin-top: 0px !important;
}


.brs__task__sts blockquote {
    border: 0px solid #ccc;
    margin: 0 0 -1px;
    padding: 0px;
}

.brs__task__sts blockquote+p {
    display: none;
}
.brs__task__sts blockquote b {
    font-size:14px;
}
.brs__task__sts blockquote h3 {
    color: #2895ff;
    font-size:18px;
    margin-top:15px;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}
.brs__task__sts blockquote p {
	font-size:12px;
}

.chat_time.pull-right {
	margin-top: -30px;
    margin-right: 5px;
    opacity: .5;
	font-size: 12px;
    margin-bottom: 15px;
}

.db__tasks__table table tr td a.btn-primary {
    color: #fff;
}

.brs__task__sts select+div p {
    margin-top: 25px;
    text-align: center;
}

.mob__img {
    margin-left: -30px;
    width: 190px;
}

.member_list .chat-body .chat__contprev {
    font-size: 17px;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.member_list .chat-body .header_sec {
    padding-top: 15px;
}

.member_list .chat-body .header_sec > a {
    font-size: 12px;
    color: #1e90e7;
}

.member_list .chat-body .header_sec > time {
    color: #999;
    font-size: 12px;
}

.chat_container {
    float: left;
    width: 100%;
}

.chat-body1 .chat__cont {
    background: #fbf9fa none repeat scroll 0 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
}

.chat-body1 .chat__cont:before {
    content: "";
    border-right: 10px solid #ddd;
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -10px;
    top: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.chat-body1 .chat__cont {
    position: relative;
}

.offer .card .tab-content {
    border: 0;
}

.db__tasks__table {
    overflow-y: auto;
    height: 600px;
}

.table-border--no>thead>tr>th, .table-border--no>tbody>tr>th, .table-border--no>tfoot>tr>th, .table-border--no>thead>tr>td, .table-border--no>tbody>tr>td, .table-border--no>tfoot>tr>td {
    border: 0;
}

.alert.now-closed {
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.alert.now-closed:before {
    background-image: url("images/lock-icon.png");
    height: 50px;
    width: 50px;
    display: block;
    content: "";
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center center;
}

div#brs-rgt-map {
    padding: 0;
}

div#brs-rgt-map #map {
    height: 100%;
}

div#filesDB table.table {
    height: 400px;
    overflow-y: auto;
}

.hash-testing .dboard__lft .nav-pills>li>a {
    border: 0;
}

.chat_container {
    margin: 40px 0;
}
.recent__act__cont .media.notifi-area a {
    display: block;
    font-size: 18px;
}


.reviews-box.col-sm-6.overload+.clearfix {
    display: none;
}

div#offers {
    float: left;
    width: 100%;
}


body.user-login footer {
    display: none;
}


body.user-login footer {
    display: none;
}

.brs-rgt {
    margin-bottom: 0;
    height: 92.5vh;
}

.shareon ul li a {
    font-size: 10px;
    color: #666;
}

.brs__postBy__img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    float:left;
}
.brs__rgt__post{
    height: 100px;
    padding: 20px 0 0 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.pub__cvr .wrap img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}
